[2017-03-09 20:45] Cabalist opened #1 "CC Mode"
Any possibility of implementing Constant Current mode?

[2017-04-03 19:23] kanflo commented on #1
I will probably not do the implementation myself as I did not use CC mode in the stock FW but I would welcome the addition in a PR.

[2017-04-07 07:02] kanflo opened #4 "Issues with driving higher loads"
When connecting a 4.7ohm 10W resistor at 5V, voltage drops to 1.4V. Currently the OpenDPS firmware is incapable of driving higher loads. Why remains to be found out.

[2017-04-10 21:46] kanflo commented on #4
With the PSU I have available I can drive 2A at constant voltage. Above 2A the measly PSU chokes and its output voltage drops. This issue will be left open until I am confident OpenDPS performs as good as the stock FW at higher loads.

[2017-04-10 22:06] Cabalist commented on #4
I have a flashed and an unflashed DPS5005 as well as two identical power supplies rated for 48V/9.6A. (Dell EPS-470)

Anything I can do on the testing side to help?

[2017-04-11 09:06] Spudmn commented on #4
You are on the right path with your fix. One DAC controls the output voltage and the other DAC controls the current limit. The patch has increased the current limit to what looks like 2A.  When the current limit is exceeded the output voltage will drop.

[2017-04-11 17:28] joh commented on #4
The TL594 which controls the PWM duty cycle contains two error amplifiers. The two amplifiers are ORed so that the minimum pulse width dominates. Typically one is used to regulate output voltage while the other regulates output current.

Section 5.2 of this app note shows a typical circuit: http://www.ti.com/lit/an/slva001e/slva001e.pdf

[2017-04-11 17:57] kanflo commented on #4
@Spudmn: that would explain why I cannot get more than 2A. On the other hand, DAC2_OUT is saturated at 0xfff.

@Cabalist: I got my hands on an unflashed '5005 and will investigate how the stock FW sets ADC1/ADC2 to make the DPS output > 2A. If you have soldered JTAG to the unflashed one feel free to try the same.

@joh: thanks for the app note.

[2017-04-12 21:34] kanflo commented on #4
Tonight I checked a stock DPS5005 with the following results:

* At 4.40V DOR1 is 1 when OFF and ~0x140 when ON (0x140 pretty much consistent with OpenDPS).
* Regardless of the tested current draw (20mA, 0.9A, 1.75A and 2.56A), DOR2 was 0x73 when OFF and 0xda2 when ON.
* DOR2 remained at 0xda2 when I opened the terminals which leads me to believe there is no regulator algoritm running.

As my PSU

[2017-04-12 23:16] joh commented on #4
Interesting, what about with constant-current mode?

[2017-04-13 20:35] joh commented on #4
Just tested the fix on master and I'm able to draw 5A through a 1 ohm resistor without problem. I had to build with MAX_CURRENT=6000 to prevent the initial inrush current to trigger the over current condition. So I think this issue can be closed :)

Would still be interesting to learn more about how the stock firmware controls DOR1/DOR2 for constant-current mode though, but I guess that discussion

[2017-04-14 20:55] kanflo commented on #4
Well that was great news, thanks! I am thinking CC could be simple to implement and will experiment with the stock FW in CC mode.

[2017-04-14 20:55] #4 closed

[2017-04-14 21:08] kanflo commented on #1
As CC has been requested and thanks to the findings in #4 might be quite easy I will try to implement it.

[2017-04-17 19:08] kanflo commented on #1
CC is underway, those eager to try it out can have a look at the [CC branch](https://github.com/kanflo/opendps/tree/cc). Comments are welcome!

A long press on the "set" key toggles between the CV and CC modes, indicated on the display. TFT inversion has been scrapped.

Remote control of the CV/CC modes are still TODO.

[2017-04-17 19:37] Cabalist commented on #1
I'm just going to take this moment to say I really appreciate your work on this.  It's been really great having these in our shop and the addition of constant current really rounds it out.

[2017-04-17 20:32] kanflo commented on #1
Thanks for the kind words, appreciated!

[2017-04-18 19:53] kanflo commented on #1
Here's the current UI for setting the current/voltage in CC mode and CV mode (obviously you cannot set the voltage in CC):

![opendps-cc](https://cloud.githubusercontent.com/assets/931076/25150111/1215fb08-2481-11e7-9d19-9960a6b50067.png)     ![opendps-cv](https://cloud.githubusercontent.com/assets/931076/25150149/37919fd6-2481-11e7-9fe3-d746a7ab28de.png)

[2017-04-18 21:53] kanflo opened #6 "Handle inrush current wrt. OCP"
For resistors drawing, say, 400mA, the current limit needs to be set to 600mA or the OCP will kick in immediately when enabling power.

The inrush current needs to be handled, eg. by accepting inrush current > I_limit for a short period of time.

[2017-04-18 22:00] kanflo commented on #1
Remote control via UART in place:

```dpsctl.py -d /dev/cu.usbserial-A9MXPNJB --mode cv```

[2017-04-20 21:00] kanflo commented on #1
For anyone testing: some runtime adjustments are needed to set the DHR12R2 register controlling CC. On one of my DPS:es, the displayed output current matches the multimeter while the other DPS has a positive  ~100mA offset. The OpenDPS FW needs to set a low value and increase until the ADC tells us we are spot on.

[2017-04-20 22:05] kanflo opened #7 "Implement workaround for voltage drop at high currents"
There is an issue with the DPS5005s (at least the three I tested so far) resulting in output voltage drops at high currents. If outputting 6V (according to UI settings and UI feedback) and drawing 1.2A, a multimeter will show a 340mV drop on the output voltage compared to the UI. The value on DAC1 needs to be increased to maintain 6A @ 1.2A which also increases the displayed voltage ADC measuremen

[2017-04-24 12:20] rletendu commented on #1
Great work on this project ! Was hopping someone succeed to open the way to hack those modules !
May be I missed something, but so far looking to the code  and the comments for CC mode I am wondering if the CC implementation could not be improved so that it behaves like a regular DPS, meaning that moving from CV to CC could be automated in default dps control.
By default DPS starts in CV and swith

[2017-04-24 20:32] kanflo commented on #1
Thanks! If someone comes up with a good name we could have three modes, CV, CC and "the mode you describe" ;) It's a bit of an extension of CV that does not cut power on case of over current events, something I personally prefer when testing new PCBs. I am however open to renaming any..all modes if someone comes up with better naming.

[2017-04-24 20:54] nunojpg commented on #1
Hi :) Thanks for the software. I don't have a piece of this hardware yet but when I found it I immediately searched for a open software to replace it. I've been watching the repo for a while. Eventually I will use it.

What @rletendu means is the default way a Lab power supply works. It's what "everyone" is actually expecting for a thing like this. Or I just come from a lab world...

We can start

[2017-04-24 22:47] kanflo commented on #1
Thanks for the suggestions. "Fuse" sounds a lot better than CV IMHO.

[2017-04-25 07:42] rletendu commented on #1
For me a key point is to really make the difference between the operating mode requested by the user and the operating status of the power supply.
We can also define how the dps should behave when the compliance limit is reached (error mode behavior).

By default a standard lab dps is intended to be used in Force V mode and operate in CV mode when the Iload is bellow the max limit current.
When th

[2017-04-25 14:57] nunojpg commented on #1
I went to check how the factory firmware works. It seems it works as any other standard lab power supply. So V and A limits always apply, and PS works in CV if A<set point or CA if A=set point.

OVP and OCP provide the "Fuse" mode behaviour.

So in this case there is not much to discuss about "modes". About the UI I also agree that the LCD should say if it is working on CV or CA, and OVP and OCP l

[2017-04-27 12:49] rletendu commented on #1
Agree think we should stay with a regular lab power supply dehavior for this feature.  If one wants to implement other modes he could implements its own in another feature.

[2017-06-04 18:31] avion23 commented on #1
The cc branch is currently not compilable. This is the output:
`/usr/lib/gcc/arm-none-eabi/5.4.1/../../../arm-none-eabi/bin/ld: opendps.elf section '.data' will not fit in region rom`

`/usr/lib/gcc/arm-none-eabi/5.4.1/../../../arm-none-eabi/bin/ld: region 'rom' overflowed by 1544 bytes
`
This is on the current cc branch at commit 24ca7a2a87baf7e8409e115594c7008b95ae7f28 from Tue Apr 18 23:58:32 2

[2017-06-05 06:08] kanflo commented on #1
That's strange, 1.5kB is quite a lot. When building I end up with 5.8kB of data+bss. Could you provide some output from ```make -C opendps V=1``` ? Additionally, could you try hacking ```../libopencm3/lib/stm32/f1/stm32f100x8.ld``` and chang the ```ram``` section to twice the size to get though linkage and then be able to find the culprit?

[2017-06-05 09:36] avion23 commented on #1
Btw thanks for a the effort you put into this project. Here is the verbose make output:

make: Entering directory '/home/avion23/Documents/programming/embedded/stm32/opendps/opendps/opendps'
Using ../libopencm3 path to library
  CC      ui.c
arm-none-eabi-gcc -Os -std=c99 -g -mthumb -mcpu=cortex-m3 -msoft-float -mfix-cortex-m3-ldrd -Wextra -Wshadow -Wimplicit-function-declaration -Wredundant-decls

[2017-06-05 19:49] kanflo commented on #1
Very odd indeed. Looking at the output of ```arm-none-eabi-objdump -hf``` for your ELF:

[code]

and mine:

[code]

so the text segment of your binary is 5.6kb larger... I tried building with gcc 5.4.1 from [ARM's developer site](https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads) but did not observe the difference you see. Could you try a more recent version?

[2017-06-07 13:32] avion23 commented on #1
Oh... I think I can do even better than this. My arm-none-eabi-gcc-7.1.0 delivers:

architecture: arm, flags 0x00000112:
EXEC_P, HAS_SYMS, D_PAGED
start address 0x08003905`

Idx Name          Size      VMA       LMA       File off  Algn
  0 .text         00015114  08000000  08000000
[compiled-7.1.0.zip](https://github.com/kanflo/opendps/files/1058117/compiled-7.1.0.zip)

00010000  2**3

[2017-06-09 07:30] allesschonweg opened #9 "Control Script errors"
With stock python installations, I get the following errors. Maybe there is a module missing or something?

Windows:
[code]

Linux:
[code]

[2017-06-09 14:42] #9 closed

[2017-06-09 14:44] kanflo commented on #9
My bad, I did not test UART comms before pushing. I have been thinking of setting up an automated test with real hardware. Should put more thinking into it ;)

[2017-06-28 04:12] Cabalist commented on #1
I noticed that the branch for this feature hasn't seen an update in a bit.  Is it currently functional?  I see there were a couple other issues open that seem daunting for this device...

[2017-06-28 19:23] kanflo commented on #1
@avion23 it seems strange you need to clean the libopencm3 build. Could you attach a small part of the output from ```make V=1´´´?

[2017-06-28 19:27] kanflo commented on #1
@Cabalist I haven't found the time to work on CC since end of April and have a few other things I need to finish before resuming it.

[2017-06-28 19:28] kanflo commented on #1
@avion23 It seems strange you need to clean the libopencm3 build as there should be anything else than F100 stuff included in the OpenDPS build. Could you please provide the output from the failing assembler?

[2017-06-29 20:07] avion23 commented on #1
Ah Sorry, I managed to compile it with the official ARM toolchain. No problem there. Crossdev and gcc-arm-none-eabi from debian stretch both fail.

[2017-07-03 09:54] toglader opened #10 "DPS5015 display freezes"
My DPS5015 display freezes every time if I press buttons too fast. Firmware self still seems to work because I can switch output on and off but display doesn't update.
I tried to debug it my self but this hw platform is new for me, so I haven't managed to setup debugger yet..

[2017-07-03 13:57] avion23 commented on #10
My DPS5015 does the same. I thought it was my bad compiler and changes in the CC mode, see issue #1.

While the display is stuck at the previous value, the buttons still work

[2017-07-05 07:03] kanflo commented on #10
That's odd. Do any of you have a UART connected for debug output? If so, I'll have a look and see if there are any printf:s that can be added to debug this.

[2017-07-05 07:06] kanflo commented on #1
@avion23 glad you managed to sort it out.

[2017-07-05 07:06] avion23 commented on #10
Yes, I can test this on the weekend.

[2017-07-07 12:32] felixekman opened #11 "Compatibly with DPH3205?"
Has anyone tried this with the DPH3205 which is the buck-boost converter version of this?

[2017-07-14 17:09] vahegan commented on #10
Seems I am witnessing a similar problem, also on DPS5015
The output enable button is not very responsive, I need to press it slowly and sometimes it works (on release), sometimes there is no effect after pressing, and a second or third press does the job. If I press that button too fast several times, the output indicator in the bottom right corner locks in whatever state it was. The output is sti

[2017-07-14 21:30] kanflo commented on #10
Hi @vahegan. Could you try building with ```make COMMANDLINE=1```which removes the binary protocol from the UART and add some printfs in eg. ```event_put(...)``` and ```event_get(...)``` so we can see what is going on with the button presses? I tried hammering the enable button on a '5005 and see no problems.

@gojimmypi: Have you seen this issue too?

[2017-07-14 21:51] vahegan commented on #10
Hi Johan. I can recompile but I am absolutely new to this platform and don't know which files to modify and what printfs to put and where. If you can send me a modified file, I can do that on Monday and will post the UART output.

[2017-07-16 15:59] cleverfox commented on #10
I have same issue. Before i found this thread I found this: Controls are working when LCD in freeze. I tried add command to reinit LCD into CLI (ili9163c_init(); and set roataion), and after reinit LCD continue to work. Also after reading this topic I checked event_put and event_get functions. Nothing changed between working and freezed states. I will dig bit more.

[2017-07-19 20:07] kanflo commented on #11
I have none to test. Adding support should be a breeze though as the STM32 is not covered in a sandwich PCB design as with the 5005. Really helps the reverse engineering effort.

[2017-07-19 20:09] kanflo commented on #10
@cleverfox, could you see if the LCD is connected in a different manner? I recall the 5005 LCD had its SPI nCS pin grounded and I am thinking this might have changed.

[2017-07-19 21:29] cleverfox commented on #10
I desoldered LCD but there is no pin labels on it :(.
I found 8 pin header on LCD and and 8 pin cable between blocks.
here is pinout
LCD pin / cable pin / MCU pin
1 / 1 / GND
5 / 2 / pin B7 (43) inverted by transistor
7 / 3 / VCC
3 / 4 / B12-NSS (25)
4 / 5 / B13-SCK (26)
8 / 6 / B14-MISO (27)
6 / 7 / B15-MOSI (28)
2 / 8 / A8 (29)

[2017-07-19 21:46] cleverfox commented on #10
ooops, i misaligned screen in this pinout. 1 -> 8, 2->7, 3->6 etc

[2017-07-19 23:05] cleverfox commented on #10
@kanflo you was right about slave select pin. I have added handling of NSS pin (A8), and I can't reproduce LCD hanging anymore. Beta testera are welcome to test it at cc branch :)

[2017-07-19 23:09] cleverfox commented on #10
Interesting thing: When I was testing a hypothesis about NSS, I added just gpio_set(...); gpio_reset(...); before SPI transfer and it also solved problem. But of cource before commit I made NSS handling as it should be.

[2017-07-19 23:12] vahegan commented on #10
Thanks, @cleverfox , I will test it tomorrow morning.

[2017-07-20 08:13] vahegan commented on #10
@cleverfox can you help me? I am unable to compile: in graphics.h there is an include of cl.h, and cl.h is not available

[2017-07-20 09:50] cleverfox commented on #10
Oh, yeah. I don't done image yet. You can add temporary hacked image. It is a little bit corrupted CV to distinguish mode from others. Can anybody help me with picture with CL letters like CC and CV at bottom of screen?

cl.h

`
const uint8_t cl[] = {
  0x00, 0x0f, 0x00, 0x00, 0x00, 0xff, 0x18, 0xff, 0xff, 0xa6, 0x18, 0xe3, 0x00, 0x00, 0x00, 0x00,
  0x00, 0x0f, 0x00, 0x00, 0x00, 0xff, 0x00, 0xff,

[2017-07-20 10:54] vahegan commented on #10
@cleverfox thanx! Seems to work without problems now. And special thanks for bringing the calibration constants into the header file, I was looking into something like that. Do you have any suggestions about the calibration procedure? I have about (50mV + 1% of the output voltage) difference from the value sent to the DAC and the actual output voltage and that makes me a bit nervous. :)

[2017-07-20 11:04] cleverfox commented on #10
I have +/- 0.1v mistake too. But I did not touched voltage calibration yet. I will do it soon. I just made current calibration, because DPS5005 parameters is absolutely uncompatible with dps5015 (it displays value under 0.5A when real current already 4-6A)

[2017-07-20 11:25] vahegan commented on #10
How do you calibrate for current? Current seems to be not working for me at all. When I short circuit the output in CC mode and then press output enable, there is no current flowing. When I first press the output enable and then short the output terminals, there is a spark (the capacitors discharge), the screen flashes white and the protection disables the output. I haven't figured it out yet how

[2017-07-20 11:44] cleverfox commented on #10
I don't know why it not working on short circuit yet, I seen this problem, but not investigated it yet. I tested it on few meters of LED strip. For let strip I tried current under 6Amps and it was nearly same as showing my ammeter.
Try to use any load instead of short circuit yet, but I will try to fix it soon.

[2017-07-20 21:02] cleverfox commented on #10
@vahegan I fixed overcurrent protection for short circuit in CC and CL modes. I disable protection for 2ms after start (as for now for all modes).
To all: Let's decide if we need to do 2ms delay only for CC/CL mode or it is ok for all modes?

[2017-07-20 22:00] cleverfox commented on #10
@vahegan I added example of calibration calculations inside dps-model.c.

[2017-07-20 22:50] felixekman commented on #11
Do you have any guidence on how one would go about starting this effort to be compatible with your software? I'm willing to put down the needed time to make it happen, just need some pointers on how to best contribute.

[2017-07-20 22:56] cleverfox opened #13 "SCPI support needed?"
Hello guys. I would like to ask your opinion about SCPI support for opendps.

SCPI (Standard Commands for Programmable Instruments) is industrial standard for controlling of measuring equipment and also programmable power supply over Serial/USB/GPIB/Ethernet. As for opendps I can implement serial version of SCPI and it will be compatible with true serial (RS-232), USB (over USB-UART adapter) and e

[2017-07-21 07:46] vahegan commented on #10
Thanks, @cleverfox
Now I see a very strange behavior. I set it up for 2.1A current output at about 10V. When I power enable with short circuit, it works as expected. But when I apply a load (a car light bulb) the screen flashes and protection is activated. However, if I short the light bulb terminals, then power enable, then remove the short from the terminals, the bulb goes on.

[2017-07-21 07:55] cleverfox commented on #10
Is this problem CL mode? I can check it only today at evening. Have you a serial terminal? I can give you patch for debug it?
Did you checked voltage after my calibration?

[2017-07-21 08:02] vahegan commented on #10
I see this both in CC and CV/CL modes. I soldered the serial wires to the board but have not connected it to the computer yet. I have a Serial2USB adapter lying somewhere, need to find it, but I will be able to do it on Monday.
I have not done the calibration yet, only compiled it and was testing the protection. Will play with calibration later today and will let you know, thanks!

[2017-07-21 08:17] vahegan commented on #10
I just remembered another thing I wanted to mention:
In CC mode it would be useful instead of -.-- on the voltage line to display the actual voltage measured on the load.
Also, in setting mode for CC it would be great to have the possibility of setting the max voltage limitation i.e. the maximum voltage after which it would switch to CV mode if the current setting cannot be achieved (similar to sw

[2017-07-21 08:29] cleverfox commented on #10
@vahegan in case if I add voltage setting in CC mode it will become same as CL mode :) I personally not fully understand what for CC mode is really useful. But I not going to destroy something already done by someone other and I created new mode CL.

[2017-07-21 12:29] vahegan commented on #10
I seem to have fried my board. I pressed output enable several time and got a white screen (just like before mods by @cleverfox ), but the board was working. I then cycled power and again pressed power enable several times. Then the screen went black and the board died. When I cycle power even LCD backlight is not available anymore and when I try to launch openocd I get an error "Inti mode failed

[2017-07-21 16:53] cleverfox commented on #10
I'm so sorry this happened, but I don't think the cause was the firmware. Check voltage on C27 capacitor (near LCD socket), it should be 3.3v.

[2017-07-21 17:31] vahegan commented on #10
Yes, seems it was a coincidence, has nothing to do with the firmware. I think XL7005 is dead: there is voltage on its input but no 1.25V on the feedback pin, which means there is no switching. Unfortunately this chip is only available in China, which means 2-3 weeks wait time. I have another DPS5015 board but I would like to keep it with factory firmware until OpenDPS is fully functional.

[2017-07-21 22:42] kanflo commented on #13
I think SCPI would be very useful. The eez-open project is really cool and puts this side project of mine to shame ;)

[2017-07-21 22:49] kanflo commented on #11
You can start off with [my reverse engineering effort](https://johan.kanflo.com/hacking-the-dps5005/) and learn how the stock FW controls your device. You need to figure out how the buttons are connected and how the output voltage and current are set. For the DPS5005 the DAC is used for voltage and TIM2 (IIRC) for current limit.

For the voltage setting, I would dial a selection on the stock FW an

[2017-07-21 22:53] kanflo commented on #10
Glad to have the display freeze sorted out, I will close this issue. Sorry to hear about your '5015 @vahegan.

[2017-07-21 22:53] #10 closed

[2017-07-22 03:34] vahegan commented on #10
@kanflo I am afraid too early to close as I am not sure its fully sorted out: I have seen the same behavior with white screen but buttons working just before the unit died. Further testing is required. I will do if my board works from external power supply to the CPU.

[2017-08-25 08:11] finos2 opened #14 "curent limit no presant , will be added ?"
open dps is undergrade without the current limiter for usage in a lab , also ad in the front panel watts mesurment

[2017-08-31 00:34] lumostor commented on #7
Might be due to the voltage drop in the shunt resistor, for Iout sense, which is supposed to be low side (between PSU ground and Vout-). Which mean the ADC1_in9  is reading Vout + Vshunt, because the ADC sense a value relative to the PSU ground and not Vout-. Can't test this at this moment, I have no dpsxxxx at hand but I have 3 on the way.

According to the voltage drop of 340mV@1.2A, Rshunt shou

[2017-08-31 03:07] lumostor commented on #7
I forget about the DAC, a fix would be to add the current Vshunt to the requested Vout, hopefully this would be stable, but this may need more thoughts, and surely a verification of the transients when the charge change rapidly. This might be tricky.

[2017-09-27 09:04] cleverfox commented on #14
Look at cc branch. And also you can read this pr https://github.com/kanflo/opendps/pull/12

[2017-09-27 16:33] splasma opened #15 "Disable button doesn't work in my DPS3003 with CC firmware"
Hi, first at all, great work !!
After burned the CC firmware in my "small" DPS3003 the enable/disable button does not  disconnect the output, the voltage is  getting out always :-( ...

[2017-10-06 11:40] kanflo commented on #15
Thanks! I recall this was a problem with the newer comms versions of the DPS5005, but got fixed in [this](https://github.com/kanflo/opendps/commit/5d2e74b90c973e079a509b304c4f636599f78d8f) commit. You did not by any chance run [ocd-client.py](https://github.com/kanflo/opendps/blob/master/ocd-client.py) before flashing as described under ["Please note" here](https://johan.kanflo.com/upgrading-your-

[2017-10-06 11:43] kanflo commented on #14
I currently have no plans to add the watt measurement to the front panel but pull requests are always welcome ;) The cc branch will/should be merged to master at some point.

[2017-10-06 11:47] kanflo commented on #7
Thanks for the description @lumostor. For some reason I reraly get Github notification emails on my own repos, even though I receive tons of them each day for other repose I watch.

[2017-10-06 12:41] splasma commented on #15
Uhh, I didn't run ocd-client.py before flashing... as you recommended (!),
next time :-)
Anyway, with the "master branch" firmware ( no CC) works perfectly.
thanks for the quick reply.

2017-10-06 13:40 GMT+02:00 Johan Kanflo <notifications@github.com>:

[2017-10-06 14:14] cleverfox commented on #14
@kanflo what do you think about reducing the font size? If we can reduce it to add one more line of text (probably small font), we can make opendps more flexible.
I have few ideas about third display line: wattmeter, energy meter (useful for battery charging), and also in wattmeter mode probably useful feature is power limit (for example when checking LEDs when nominal current and/or voltage is un

[2017-10-08 08:35] cleverfox commented on #11
@felixekman Did you tried it?

[2017-10-17 13:52] kanflo commented on #15
I guess I should modify ```make flash``` to ask if ocd-client.py has been run :)

[2017-10-17 13:52] #15 closed

[2017-10-17 13:55] kanflo commented on #14
Reducing the font size is doable, I created [font-convert.py](https://github.com/kanflo/opendps/blob/master/opendps/font-convert.py) just for that purpose. I guess at some point the UI will be configurable via JSON.

[2017-10-17 18:36] splasma commented on #15
:-) good idea ! for impatient people...

2017-10-17 15:52 GMT+02:00 Johan Kanflo <notifications@github.com>:

[2017-10-18 02:15] vogelfreiheit opened #16 "Flashing with other options/substitute for STLink"
Is there anything that could be used for this purpose, replacing STLink? I have a GoodFET... but it seems I will have to wait it out until a ST-Link clone arrives from China.

[2017-10-18 06:15] kanflo commented on #16
Anything thar can talk SWD with an STM32 will do such as a Black Magic Probe (BMP) or a J-Link (and of course an ST-Link). I have no experience with the GoodFET but it seems limited to MSP430s.

[2017-10-18 06:15] #16 closed

[2017-10-19 01:54] geekbozu opened #17 "Setting voltage, Turning power on and getting a different voltage then I set?"
Not sure if this is an actual bug. But I got my DPS today flashed it with OpenDPS and was playing with it. I currently set the voltage to 5.00 and when I turn it on it drops down to 4.74 even with out a load attached? Is this normal/expected behavior?

[2017-10-19 01:58] geekbozu commented on #1
What is the current status of this? I see there have been no updates on this for a while, and might be willing to put some work in on it.

[2017-10-19 10:50] kanflo commented on #17
@geekbozu That would be unexpected behavior. Is 4.74V consistent between the display and when measured with a multimeter? Did you verify the functionality of the DPS with the original firmware?

@fromeijn Could you please explain "open loop system"?

[2017-10-19 14:16] fromeijn commented on #17
With "open loop system" I mean, that the dac is set without reading it back. There is no PID controller of some sort between it.

[2017-10-19 17:13] geekbozu commented on #17
From my measurements it was accurate. I will not lie how ever I did not
verify before flashing I made sure an led lit up then flashed away. I did
save the constants for 5V-On and OFF however.If it is any consolation the
measurement of the input voltage also matches my power supply I am using.
It does seems to be in agreement with what @fromeijn is saying. As the
error is less drastic at lower volt

[2017-10-19 22:19] kanflo commented on #17
Thanks for the explanation @fromeijn. A PID controller would be very useful, I will create a new issue to track it.

[2017-10-19 22:21] kanflo opened #18 "Implement PID controller for power control"
As mentioned in #17, a PID controller would be very useful to maintain output power while under load.

[2017-10-22 03:00] geekbozu commented on #17
So I quadruple checked. It seems that the on screen display is correct give or take .02v according to my multi-meter.  Would using a feedback look make more sense then say a per unit calibration? Would almost seem like its worth making a manual calibration function to tune each unit that way. (and to have power levels not have to adjust as much after being turned on)

[2017-10-23 17:21] kanflo commented on #1
@geekbozu I have been quite restricted on time and have not worked on this for a while. My next step would be to merge the CC branch to master as they have diverged a bit.

[2017-10-23 17:23] kanflo commented on #17
A PID controller would be better IMHO as people have observed voltage drops at higher loads.

[2017-10-23 23:14] geekbozu commented on #17
I think I was not clear. I more meant would a way to calibrate be useful In addition to the PID controller. Or do the devices seem accurate enough from the factory that the PID tuning should be quick enough to not matter. I know I have burned components up due to power supplies that jump to higher voltages on startup before settling down. So that is where my concern is from there.

[2017-10-24 09:31] kanflo commented on #17
Hmmm, you have a point there. The controller would have to be extremely quick to react to reductions in load as not to fry things. Calibration could be a better option for those not using higher loads.

[2017-10-24 13:36] geekbozu commented on #17
Well the thought is you need both. One to handle initial startup/Hardware
discrepancies, The PID to handle variations in Load + Drift. That being
said I am more then willing to work on a calibration interface/setup if
need be once the CC branch is merged (no point in starting another project
on a split codebase IMO) and could probably tinker with the PID tuning if
@fromeijn does not jump on that.

[2017-10-25 18:46] Manawyrm commented on #17
Can confirm, with voltage set to 5.00V, it outputs 4.729V (and displays 4.71V)...
I'd also say that a calibration/offset setting would probably be better than a PID loop, which could overshoot and kill sensitive things...

[2017-10-25 20:56] fromeijn commented on #17
Good suggestion, we don't want any magic smoke. So we need a calibration routine for voltage and current.

[2017-10-26 00:42] geekbozu commented on #17
I guess I will start familiarizing my self with the code base. :D Seems like a worthwhile effort to me.

[2017-10-27 01:02] geekbozu commented on #1
Do you have a rough eta on when that would be? I would hate to work on new features and make the merge more complicated then it already seems to be.

[2017-11-05 14:27] roger- commented on #14
Can a voltage limit be set in CC mode?

[2017-11-05 14:29] cleverfox commented on #14
In СС branch you can set maximum voltage and maximum current.

[2017-11-09 12:00] kanflo commented on #1
I am rather hoping to merge CC to master this month. We'll see...

[2017-11-25 09:22] vogelfreiheit opened #19 "Recommended header/socket for pinouts"
I have been checking the headers and it would be very useful to advertise which JST-GH connector and socket match would fit. Both pitch and number of pins, as UART and JTAG/programmer IO are exposed together. Is it 1.25 pitch? I suppose we need both a 4P(in) and a 5P(in).

[2017-11-25 10:07] kanflo commented on #19
Yes, the pitch is correct. [JST-GH](http://www.jst-mfg.com/product/pdf/eng/eGH.pdf) is 1.25mm. On the DPS5005 I have from this fall (which _might_ have changed by now) has 5x JST-GH for SWD (only 3x are needed; GND,SWCLK and SWDIO) and 4x for comms. There is no room for soldering a male connector (I believe there is only a single one for JST-GH) for JTAG though as the one for comms partially cover

[2017-11-26 08:17] vogelfreiheit commented on #19
This is pretty sweet.  I just flashed 5015 and it is not outputting voltage right now. I can upload a copy of the 5v settings on/off. Funny enough I just got a PCB order on its way... should have asked you earlier.

[2017-11-26 09:20] vogelfreiheit opened #20 "Suggestion: leverage STM32 protected memory read attack to download fw"
I suggest a look at this as a really fun project:

https://www.aisec.fraunhofer.de/en/FirmwareProtection.html

Long story short, we could dump the firmware. I have one remaining 50V5A while the 5015 remains non functional (I have not found the cause for the disabled power output yet).

If someone wants to send a module my way, or can do this on his own, be my guest!

[2017-11-26 21:15] kanflo commented on #20
That I must try when I buy my next 'DPS. Thanks!

[2017-11-26 21:17] kanflo commented on #19
Oh, you did a similar one? :D Have you tried flashing from the CC branch? I recall that one having better '5015 support. If still nothing, feel free to open an issue.

[2017-11-28 17:55] perillamint commented on #20
I read paper just now. It seems it only sheds light on parts of flash memory where PC or other memory instruction travels. Also, it requires de-soldering of MCU to do this attack.

I think to execute this attack, we need some special helper circuitary to ensure stock firmware travels all needed parts of flash memory by triggering proper inputs to target MCU.

[2017-11-29 06:53] vogelfreiheit commented on #19
Not at all, I ordered a bunch of RF and assorted misc PCBs :)

I have been checking the CC branch. There are significant changes related to GPIO handling and so on, how much of it is merged and/or adopted into master? I will flash soon, finishing some other work here. But it looks good. Is it me or the DAC code seems ready to handle constant voltage?

[2017-12-11 16:47] clickworkorange commented on #1
How about just changing the colour of the value that is being "constrained"? E.g. if current draw exceeds the set current - thus triggering CC mode - just change the current readout to yellow.

[2017-12-11 17:38] clickworkorange opened #21 "Could this firmware also work on the step-up/boost DPH models?"
They use the same front-panel, and are probably quite similar on the controller side, though the DC/DC converter is on a separate board. I guess it's unlikely, but maybe I can retrace the steps taken and try to identify where they differ? I'm in need of a couple of boost capable PSUs for a 12V electrical system, but am severely put off by the cluttered and clunky stock UI - I would only buy them i

[2018-01-09 02:00] vogelfreiheit opened #22 "CC branch building issues with Ubuntu 17.10"
I have to double check but the linker is complaining. The .data section is overflowing into .rom.
I did not build the CC branch before, but this is in a new 17.10 VM. 5015 support is still broken it seems, so we will see...

[2018-01-10 07:39] kanflo commented on #22
Oh, that's weird. I will have a look at it tonight.

[2018-01-10 07:46] kanflo commented on #21
I would guess it works but there is only one way to find out ;) Since both models offer the same functionality I'd be surprised if the STM32 interfaces weren't identical with respect to buttons, DAC control and so on. [My blog post](https://johan.kanflo.com/hacking-the-dps5005/) on reverse engineering the DPS5015 describes the steps for learning how the stock FW talks to the HW.

[2018-01-10 11:56] kallemooo commented on #22
The problem is that the Ubuntu and Debian package gcc-arm-none-eabi that provides GCC cross compiler for ARM Cortex-A/R/M processors is to old and is not usable.

Install the official toolchain from ARM and use that instead.
https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads

[2018-01-11 20:33] kanflo commented on #22
Thanks @kallemooo! I will close this issue, feel free to reopen it @vogelfreiheit if you run into problems.

[2018-01-11 20:33] #22 closed

[2018-01-14 00:15] vogelfreiheit commented on #22
Not sure if commenting will reopen this, but I will file some tickets. I checked the calibration for the 5015 model and I identified some other problems, namely the current and output voltage inconsistency. I am not sure how much was merged from the CC branch but we should sync, maybe exchange some IM coordinates and figure out a clean merge. I finally got time to do this, thankfully, and I am int

[2018-01-14 00:17] vogelfreiheit commented on #6
Does this refer to the initial spike when turning the output on? I observed a spike of 4V with output set to 5.20v initially which could already damage/toast some sensitive components.

[2018-01-14 01:41] vogelfreiheit commented on #17
Did anyone get somewhere with either self-calibration or PID? I have updated calibration values for my 5015. Both DAC and ADC.

[2018-01-14 02:54] geekbozu commented on #17
I have been waiting for CC mode to be implemented to not fracture the code
more before I started working on it, I do plan on implementing it soon that
being said.

On Sat, Jan 13, 2018 at 8:41 PM, vogelfreiheit <notifications@github.com>
wrote:

[2018-01-15 20:14] snhstq commented on #1
First : Great project, love it !

I want to use a 5015 with cc to charge my calcium batteries.

When I compile master (on Raspberry Pi using arm-none-eabi) it will fit and work, but I get this message when compiling the cc tree:

_****~/opendps# make -C opendps flash
make: Entering directory '/root/opendps/opendps'
  LD      opendps.elf
/usr/lib/gcc/arm-none-eabi/5.4.1/../../../arm-none-eabi/bin/l

[2018-01-15 21:08] kallemooo commented on #1
Hi @snhstq ,

The problem is that the Debian package gcc-arm-none-eabi version 15:5.4.1+svn241155-1 that provides GCC cross compiler for ARM Cortex-A/R/M processors is to old and is not usable. (gcc version 5.4.1)

Install the official toolchain from ARM and use that instead. (gcc version 7.2.1)
https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads

Also se issue #22 for more info.

[2018-02-15 08:46] cortices opened #24 "makefile can't cope with file path with spaces when flashing"
$ make -C opendps flash

Results in

[code]

[2018-02-15 08:50] cortices commented on #24
This is the command verbatim that did eventually work manually in the telnet session:

    program \"/Users/sparky/Documents/Making\ Projects/DPS5015\ Upgrade/opendps/opendps/opendps.elf\" verify reset

Notice \\-escaped quotes, and \\-escaped spaces. Weird.

[2018-02-16 20:04] cleverfox commented on #20
There is absolutely not a problem to desolder TQFP48 and solder it to breadboard. I made this a lot of times with soldering iron and/or with hot air gun.
@vogelfreiheit what kind of problem you have with 5015? I using it often with opendps (version from cc branch before merging to master). I know about few little problems, but they don't too hurt

[2018-02-19 09:15] kanflo commented on #24
Thanks, I'll look into that. Glad you found the workaround.

[2018-02-27 09:23] cortices opened #25 "At least some DPS5015 units have RGB displays, not BGR."
I modified my power icon to be red, and ran the graphics convert. However, when programmed, this rendered blue.

I modified line 29 of `ili9163c_settings.h` to the following:
[code]
instead of
[code]

and the problem was solved. This may be due further investigation into which units have which colour space, as it is not immediately apparent either way with the original black and white scheme.

[2018-02-27 20:33] kanflo commented on #25
Thanks for letting me know. I will keep this issue open until the documentation has been updated and color space can be changed when building.

[2018-02-27 22:00] geekbozu commented on #1
any progress here?

[2018-03-04 15:10] kanflo commented on #25
It's now possible to add the argument COLORSPACE when building if needed:

[code]

README will be updated shortly.

[2018-03-04 21:55] cortices commented on #25
Great. I will try to PR a merge of this into CC branch when I get the chance.

[2018-03-09 02:53] jandcmoore opened #26 "Cannot clone"
`$ git clone --recursive https://github.com/kanflo/opendps.git
Cloning into 'opendps'...
remote: Counting objects: 864, done.
remote: Compressing objects: 100% (26/26), done.
remote: Total 864 (delta 13), reused 19 (delta 8), pack-reused 830
Receiving objects: 100% (864/864), 1.26 MiB | 1.20 MiB/s, done.
Resolving deltas: 100% (433/433), done.
Checking connectivity... done.
Submodule 'dpsctl/uhej'

[2018-03-09 08:29] kanflo commented on #26
Bummer, I added the EOR submodule as git@github.com rather than https://github.com meaning it will fail if one does not have a public key uploaded to Github. Will change tonight (CET :).

[2018-03-10 18:36] jovandervyver commented on #26
Still looks broken, but in the meantime, those interested may want to take a look at:

[Creating SSH keys](https://www.digitalocean.com/community/tutorials/how-to-set-up-ssh-keys--2)
[Adding SSH keys to Github](https://help.github.com/articles/adding-a-new-ssh-key-to-your-github-account/)

[2018-03-10 18:39] jandcmoore commented on #26
Yes I did that last night - uploading a public ssh key allows clone just fine.

[2018-03-10 19:11] kanflo commented on #26
Last night got postponed ;)

[2018-03-10 19:11] #26 closed

[2018-03-22 19:14] #25 closed

[2018-03-22 19:14] #19 closed

[2018-03-22 19:14] #14 closed

[2018-03-22 19:15] #21 closed

[2018-03-22 19:52] roger- commented on #14
Will the CC branch be merged soon?

[2018-03-22 19:55] kanflo commented on #14
I am hoping so, yes.

[2018-04-08 18:43] geekbozu commented on #17
So over time it seems my device has also lost its factory calibration. Im reading 7.8v when I supply it 5v.

[2018-04-09 20:14] kanflo commented on #1
I am currently porting CC to master. Since the branches have diverged quite a bit it will not me a merge per-se.

[2018-04-09 20:17] kanflo commented on #17
For OpenDPS devices there is no factory calibration but it seems a calibration function just got pushed up the TODO list.

[2018-04-09 22:34] geekbozu commented on #17
I will dig into it a bit more once I have some time my self, and as noted I'll gladly tackle setting up some kind of calibration UI/scheme once the CC branch is "merged"

[2018-04-13 20:55] kanflo opened #27 "Past corruption for units smaller than 4 bytes"
I did not note today is Friday the 13th until I found a bug in the past.c code. Writing a unit smaller than 4 bytes will corrupt the past. Guess I could have been worse off today :D

[2018-04-13 21:46] kanflo commented on #1
First chunk of CC code is now on master. I have only tested it on one unit and the CC is a bit off, calibration might be needed.

[2018-04-13 22:51] kanflo commented on #17
Adding a calibration UI scheme would be quite easy now as the UI supports different screens with editable widgets. See [func_cv.c](https://github.com/kanflo/opendps/blob/master/opendps/func_cv.c) and [func_cc.c](https://github.com/kanflo/opendps/blob/master/opendps/func_cc.c).

[2018-05-01 14:29] BasedOnTechnology commented on #18
Thanks for this project!

This was an essential feature for me, so I'm beginning work on this at https://github.com/BasedOnTechnology/opendps

Hopefully in the coming weeks I can get my DPS running and tune the PID constants.

Out of curiosity, is there either a loop in this code that takes a completely repeatable amount of time, or a timer running somewhere that I can use? PIDs rely on a consiste

[2018-05-01 20:16] kanflo commented on #18
Great, looking forward to your PR! There is a [1ms systick timer](https://github.com/kanflo/opendps/blob/15dc29a96600223dfdfdfc6ea94b9180f91f0991/opendps/tick.c#L74) you could use to eg. add an event to the application event queue every X ms.

[2018-05-02 01:58] BasedOnTechnology commented on #18
@kanflo Awesome, thanks a lot!

[2018-05-02 12:58] cortices opened #29 "Control DPS5015 fan with PWM, rather than on/off"
Pin B11, which controls the fan on DPS5015, is channel 4 of timer 2. Theoretically, I believe we should be able to set up Timer 2 for PWM control of the fan, so the operating speed can be ramped according to output wattage (since there's no temperature sensor AFAIK).

[2018-05-05 10:40] cjkoenig opened #31 "Support for DPS3005"
Hi,
I have a DPS3005 power supply and would love to know if it is supported by OpenDPS. At the moment, the only difference I see is the max. output current of 3A instead of 5A as DPS5005 has. Is it sufficient to just change the MAX_CURRENT to 3000 in opendps/Makefile?

[2018-05-05 20:14] kanflo commented on #31
In theory it should work unless RDTech did some hardware changes I have yet to learn. You could change the makefile but adding a parameter to make will work too:

```make MAX_CURRENT=3000```

Be brave and let me know how it worked out ;)

[2018-05-05 20:17] kanflo commented on #29
That would be very nice and ramping according to output wattage is a clever idea, lacking a temperature sensor.

[2018-05-05 20:27] kanflo commented on #6
Yes, I have seen the spikes too. Someday I will look into this, perhaps a ramp of a few ms could solve this.

[2018-05-06 02:42] BasedOnTechnology commented on #18
@kanflo

Definitely not!

Thanks a lot for the resource! I think I have the voltage PID framework mostly in, and I'm trying to test it now on my DPS5020. Do you know offhand if anyone has had trouble with that model? Even stock opendps doesn't produce any output - perhaps the pin configuration is different? I do have the pre-flash pin dumps if that's helpful.

[2018-05-06 11:45] cjkoenig commented on #31
Thank you for the hint- today, I was brave and it worked out fine!

Let me share my experiences I made during the flashing of my DPS3005 and how I fixed them:
- To run OCD you need root privileges (required two times: once during inital connect, then during flashing). Unfortunately, the error message is not clear that an access right to the USB flasher is missing...I ran openocd with sudo/modified

[2018-05-06 11:45] #31 closed

[2018-05-10 09:44] pgunzelmann opened #32 "Output Voltage is not set if only remote control is used"
powering up the DPS5005 and try controll by dpsctl.py only, the output voltage seems not to be set.

Communicating with com4
TX  7 bytes [7e 02 03 e8 47 15 7f]
RX 6 bytes [7e 82 01 6d db 7f]

Communicating with com4
TX  7 bytes [7e 03 03 e8 70 25 7f]
RX 6 bytes [7e 83 01 5e ea 7f]

Communicating with com4
TX  6 bytes [7e 05 01 ef d4 7f]
RX 6 bytes [7e 85 01 f4 4c 7f]

Communicating with com4
TX  5

[2018-05-13 05:48] kanflo commented on #31
Glad to hear the '3005 is working! For OCD, add yourself to the ``dialout`` group and logout/login. I will update the docs with your finding.

[2018-05-13 05:50] kanflo commented on #32
That's too bad. I might have messed things up with the lashes CC work, could you try an earlier commit, eg. ``43f0eba``?

[2018-05-13 07:37] pgunzelmann commented on #32
Thanks for the hint. I can try. But bye the way I littele bit wondering why you have two different versions... For my understanding the setting values shuould be max current and max volltage.. And the connected resistance decide  which type of controll will applay..
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit 1&1 Mail gesendet.Am 13.05.2018, 07:50, Johan Kanflo <notifications@gith

[2018-05-14 02:56] BasedOnTechnology commented on #18
@kanflo

Sorry to bother you again. DPS5020 issue was caused by my incompetence.

Voltage PID is in and working:

https://youtu.be/vhyeJkDaF4I

I also added a CC term to the PID to make the CC behavior replicate that of my lab PSUs; that is, decrease voltage when current limit hit:

https://www.youtube.com/watch?v=WdlEo2w7u9c

There's a lot of startup overshoot with the current PID tunings; I've h

[2018-05-14 14:45] pgunzelmann commented on #32
Whit an earlier commit (43f0eba) i done the same procedure. Now the status querry show the expected results.

V_in  : 5.07 V
V_set : 1.00 V
V_out : 0.97 V (on)
I_lim : 1.000 A
I_out : 0.000 A

Thanks for quick response and good luck to clean up the "messed things" ;)

[2018-05-14 15:16] kanflo commented on #32
Glad it's working, sorry I broke things and above all thanks for reporting it. I will keep this issue open until Imend things.

[2018-05-14 19:45] kanflo commented on #18
Cool! For adding a new command, add an entry to ``commands[]``containing the name of the command, the handler function and number of arguments and build with ``COMMANDLINE=1`` which should build again.

[2018-05-14 19:54] BasedOnTechnology commented on #18
@kanflo Huh, I didn't seem to get any response doing that. I tried sending a few of the other commands with and without newlines and it didn't seem to parse it. Might be something at my end.

[2018-05-18 01:06] dziedzic99 opened #33 "bin file for testing"
Hi, i think I fail to compile opendps correctly.
To test that hypothesis - can someone please post a working opendps.bin file?

[2018-05-18 09:11] dziedzic99 commented on #33
I manage to flash it according to command output, bootloader works, but the program itself doesn't. The screen doesn't light up and I can't talk to it over UART.

[2018-05-18 18:07] kanflo commented on #33
That's odd. Did you flash the boot loader and app in the correct order (boot loader, then app)? I noticed that OpenOCD overwrites the beginning of the app when flashing the boot loader.

[2018-05-22 09:16] tracernz opened #34 "Bootloader 176 bytes too large (GCC 8.1)"
[code]

I managed to build it okay with GCC 6.3.1, but it's close too:
[code]

[2018-05-22 11:11] kanflo commented on #34
Thanks for reporting. You could try adding ``-flto`` to the ``CFLAGS`` which reduces the size of the BL quite significantly. I have not had time to test it but it should not introduce any side effects.

[2018-05-22 18:48] tracernz commented on #34
That indeed made it much smaller. :+1:
`.text           0x0000000008000000     0x1264`

I haven't tested it to make sure it actually works yet.

[2018-05-27 23:59] antonblanchard commented on #17
My DPS5005 exhibited the same issue. Before flashing I had taken dumps at a few voltage levels, so I could work out the correct V_DAC_K and V_DAC_C settings:

[code]

My mulitmeter, while not calibrated, showed voltages were spot on after this change. I then adjusted V_ADC_K so that the voltages displayed matched:

[code]

I tested the open circuit voltage as well as under almost 5A of load, and t

[2018-05-31 00:37] vogelfreiheit commented on #17
Late to the party, I will go through the comments.... glad other people are still working on this. I'm still working towards a successful dump of the original firmware :>

[2018-05-31 11:48] goosenphil commented on #20
@vogelfreiheit Have you attempted any of the attacks that you've linked to?

[2018-06-04 11:22] ElectricCookie opened #35 "New board version? w/ Bluetooth and USB Board"
Hey there,
I just received my DPS Power-Supply. It's a DPS5005 to be exact. I also ordered the additional Parts (Bluetooth and USB Board) along with it. Now my Board has a connector for these to interface, but I'm unsure whether these pins are the ones referenced for the installation of OpenDPS.

Attached are some images of the DPS I received.

<img src="https://user-images.githubusercontent.com/1

[2018-06-04 18:34] kanflo commented on #35
You need to carefully dislodge the device from the housing, then you will hopefully see the SWD port on the front to the top right.

[2018-06-04 19:08] ElectricCookie commented on #35
Thanks!

[2018-06-06 11:24] CBJamo commented on #34
Adding the -flto flag breaks the bootloader, not sure why. For the moment, I butchered the bootloader by stubbing out the code in the handle_upgrade function. If anyone else does the same, bear in mind that you'll have to break out the programmer to flash updates.

[2018-06-06 16:05] kanflo commented on #34
Thanks for trying. I will dig into the bootloader later this summer when I have refactored the stuff I am working on right now. I recall the [past garbage collection](https://github.com/kanflo/opendps/blob/3a00c6a55354d06dd71c19ba1f7eb8434d759e97/opendps/past.c#L451) takes quite some space and could be omitted if the app promises to perform GC before invoking the BL.

[2018-06-06 16:06] kanflo commented on #35
Feel free to reopen this issue if your PCB looks different. A companion app would be way cool!

[2018-06-06 16:06] #35 closed

[2018-06-17 05:33] Robin10155 commented on #13
Hi cleverfox,
      Are you working on this new feature? I think it would a great addition to opendps.

[2018-06-26 19:39] Robin10155 commented on #17
Can somebody please explain what does V_DAC_C and V_DAC_K means? I am trying to calibrate the DPS5005. Currently it is off by 300mV at 5V.

[2018-06-26 20:28] kanflo commented on #17
@Robin10155 It's the equation of the straight line describing the voltage output as a function of the DAC setting:

[code]

See [this spreadsheet](https://docs.google.com/spreadsheets/d/1AhGsU_gvZjqZyr2ZYrnkz6BeUqMquzh9UNYoTqy_Zp4/edit?usp=sharing). You can calibrate your unit by measuring V_out given a series of DAC settings and plotting the values.

[2018-06-28 13:31] Robin10155 commented on #17
Thanks for a quick reply. I will give it a slot.

[2018-06-28 14:39] Robin10155 opened #36 "Voltage does not turn off (goes back to zero) after pressing turn off button"
I seeing a weird issue where the output voltage does not turn off after pressing on/off button.
When the press the on/off button (after resetting opendps) the power turn on but it does not turn off (goes back to zero) after pressing button again (though the lcd shows power off). Voltage remains the same even if i set the voltage to something else. Is this the intended behaviour or is it a bug in t

[2018-06-29 19:20] kanflo commented on #36
That would definitely not be the intended behaviour ;) What DPS model do you have?

[2018-06-29 19:21] kanflo commented on #32
Remote control is fixed now, please let me know if I was wrong.

[2018-06-29 19:21] #32 closed

[2018-06-29 19:22] kanflo commented on #33
Ping @dziedzic99. Did you have any success in flashing your unit?

[2018-06-30 03:17] dziedzic99 commented on #33
Yup. I flashed it finally but only after I wiped my toolchain clean and
reinstalled it.

On Fri, Jun 29, 2018, 8:22 PM Johan Kanflo <notifications@github.com> wrote:

[2018-06-30 13:47] cleverfox commented on #13
No, I have no time right now. I will have a time at the end of this year. If you like you can take this task :)

[2018-06-30 18:11] kanflo commented on #13
For anyone wanting to add SCPI support, I can recommend [this library](https://github.com/j123b567/scpi-parser) by @j123b567.

[2018-07-04 02:12] Spudmn commented on #13
I am going to add SCPI support next.  I will let you know when it is ready

[2018-07-07 14:25] robots opened #40 "Bootloader should honor application stack address"
start_app function should set MSP register to address from the application interrupt vector before jumping to the application.

Code should look like this:
https://github.com/robots/STM32/blob/master/can_boot/main.c#L57

[2018-07-08 21:36] j123b567 commented on #13
@Spudmn I know that this is just early version so take this only as a hint.

Beauty of SCPI is that it is standard and you can relay on some conventions. For example, if I work with power supply, I expect, that it implements "Power Supplies" instrument class. I also expect that SCPI instrument implements all mandatory commands from IEEE 488.2 and SCPI-99 even if they are just stubs.

If you don't

[2018-07-09 02:29] Spudmn commented on #13
@j123b567  Thanks for the hint.
Yes I like SCPI and I intended to implement the mandatory commands.  Thanks for the PDF.  I am sure that will be very useful.

[2018-07-10 19:02] kanflo commented on #13
Cool, looking forward to see the complete command set. Please try to follow the coding style so far. That is would be

[code]

rather than

[code]

[2018-07-10 19:03] kanflo commented on #40
Thanks!

[2018-07-13 06:08] Robin10155 opened #41 "Overvoltage limit protection in CC mode"
Can we add an overvoltage limit in constant current mode?

[2018-07-13 08:23] tzarc commented on #36
Aha, I should've read the github issues before posting on the blog.

Got the same issue with revision 10ae4b2cd41511770c260888928f26bdcdba0e2f.

From just before I flashed the firmware, with the manufacturer-provided firmware still installed:
5V-on.txt: https://pastebin.com/kdaw6pD5
5V-off.txt: https://pastebin.com/SDTb15nQ

After flashing opendps, taking a readout straight after reset, and after

[2018-07-13 12:03] kanflo commented on #36
Thanks, I will look into this.

[2018-07-17 12:48] tzarc commented on #36
I've forced-written all the GPIO registers using openocd to match the manufacturer "off" state, but I still get voltage output.
Wondering if perhaps there's some latching circuitry that's been added in a later revision of the device?

[2018-07-17 13:08] tzarc commented on #36
About the only thing I can do to get it to zero-out is forcefully setting `DAC_DHR8R1 = 0;` -- voltage output is still present though. Setting it to anything non-zero shows a response on the display.

I doubt this is the only mechanism they're using, despite the DAC values all being zero on register dumps from their firmware. Perhaps for sanity's sake opendps should be zero'ing out the DAC anyway.

[2018-07-17 13:33] tzarc commented on #36
Added PR #42 - this seems to function just fine on my DPS5005, even though I feel it's a bit iffy considering toggling PB11 seems to have no effect. Either way, for safety this looks like it should be okay?

[2018-07-18 10:42] kanflo commented on #41
That would be doable. I just need to figure out how it would work out UI wise.

[2018-07-18 10:49] kanflo commented on #31
Interesting UI bug you found there. I have never tried >12V supply which one could think would be enough to test "four digit voltage setting".

Do you mean you can upgrade using dpsctl but not change settings? Please note the switches to dpsctl changed a few commits ago.

Also, when you say "version 2.3", where did you get that information from? I have never seen any HW revision markings on my DPS

[2018-07-18 11:04] Nannak commented on #31
Here is the version number printed to the back of the board with the connection points, right by the connector.

![img_0547](https://user-images.githubusercontent.com/1731641/42877670-56076992-8a82-11e8-8c57-80b082fa2371.JPG)

I did remember reading in a comment somewhere that someone posted a version number but couldn't find that again - I used the switches in the most recent posts I could find b

[2018-07-18 11:09] Nannak commented on #31
OK so simple as that, 10v input works fine! Well spotted!

Thank you! So I'll see what the threshold at which it starts to behave badly is...

[2018-07-20 02:52] Robin10155 commented on #41
Constant voltage mode is doing something similar already. We set constant voltage value using voltage setting and current limit using current setting. Similarly in constant current we can set constant current value using current setting and voltage limit using voltage setting.

[2018-07-23 17:34] RLovelett opened #43 "Bluetooth Module"
I am interested in providing support for the bluetooth module that comes with the newer DPS. With the ultimate goal of eventually making OpenDPS available via an iOS application using Bluetooth.

As far as I can tell, the Bluetooth module just appears as a serial device.

I guess my questions are:

1. Do you think this sounds possible?
2. Has anyone attempted to make use of the bluetooth module?

[2018-07-23 18:58] kanflo commented on #43
The last time I checked (this was ~9 years ago :) iOS did not support BT serial ports but hopefully this is not the case anymore. I am not aware of anyone using the BT module but depending on Apple, your idea is either easy peasy or completely impossible. Either way, it's a cool idea!

[2018-07-23 19:08] RLovelett commented on #43
Yeah, I think after searching and just playing around. The _iOS_ part is _completely impossible_. 👎

Two paths seem available:

1. Replace the OEM Bluetooth board with a BLE board. BLE is easily hackable inside of iOS.

The bad news is I cannot make use of the bluetooth module that it comes with. Though this is not really a deal breaker.

2. Retreat to macOS where it is possible.

The bad news her

[2018-07-23 22:49] tzarc commented on #18
@0xDBFB7's branch wouldn't build for me for some weird reason, so I ended up implementing my own basic version of PID control, branched off the 10ae4b2 commit: https://github.com/tzarc/opendps/commit/10ae4b2cd41511770c260888928f26bdcdba0e2f

Not sure if it's any help, as I've only implemented it for CV, but perhaps it could be a reference for the proper implementation as well.

[2018-08-01 00:27] geekbozu commented on #36
Just to add to this, Mine does not turn off after a CV current over limit event either. Have not tested said PR yet however.

[2018-08-07 23:27] konsgn commented on #34
For my fix, i just changed the boot_size to 6K in both the linker scripts of dps boot and opendps.

Don't these devices actually have the RB 128k flash versions that are commonly labled as R8 64k in china?

[2018-08-12 10:09] Xenoamor commented on #34
The -flto flag breaking the bootloader may well be related [to this](https://bugs.launchpad.net/gcc-arm-embedded/+bug/1747966)

I've been seeing this bug on 7-2017-q4-major and 7-2018-q2-update

[2018-08-12 11:06] Xenoamor commented on #34
I'm not sure how you got it to build with GCC 6.3.1...
This is under Ubuntu

[code]

[2018-08-12 12:01] Xenoamor commented on #36
Can confirm that the power does not switch off
`Compiled with: arm-none-eabi-gcc (GNU MCU Eclipse ARM Embedded GCC, 64-bits) 7.2.1 20170904 (release) [ARM/embedded-7-branch revision 255204]`

[2018-08-20 19:39] ricktendo opened #45 "Release pre-compiled builds?"
Any chance you could release pre-compiled binaries for the different supported models and publish these in the "Releases" section?

I have a DPS5015 and a ST-LINK/V2 flasher but not much experience compiling the builds.

[2018-08-22 21:28] DirtyEngineer commented on #45
A little over a year ago the pre-compiled binaries[ were removed](https://github.com/kanflo/opendps/commit/b14dc7b1435a4cf74628d5cf7d6eac118127d666). The reason given was that "Time does not permit compiling and releasing the STM32 binaries, especially since building these are very easy given the ARM support of gcc." ([Source](https://johan.kanflo.com/upgrading-your-dps5005/#comment-7232)). I know

[2018-08-24 18:55] Xenoamor commented on #45
I had to compile it with the `7.2.1 20170904 (release) [ARM/embedded-7-branch revision 255204]` version. Above this appeared to fail

[2018-08-25 11:15] zoobab commented on #45
I tried to make a Dockerfile inspired by the one I use to compile DirtyJTAG. End result is that it does not build. So I would welcome released binaries as well.

Here is my Dockerfile attempt:

[code]

Then I hit this error:

[code]

[2018-08-25 11:56] kallemooo commented on #45
Hi

The problem is that the Ubuntu and Debian package gcc-arm-none-eabi that provides GCC cross compiler for ARM Cortex-A/R/M processors is to old and is not usable.

Install the official toolchain from ARM and use that instead.
https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads

Also see issue https://github.com/kanflo/opendps/issues/22

[2018-08-25 20:36] kanflo commented on #43
The protocol is described [here](https://github.com/kanflo/opendps/blob/master/opendps/protocol.h), feel free to holler of something is unclear. The ESP8266 is just a proxy (what's why the firmware is called esp8266-proxy ;) and will tunnel the frames from ```dpsctl.py``` unmodified to the OpenDPS firmware. Any response from the DPS is sent back from where the previous frame originated from.

[2018-08-25 20:39] kanflo commented on #45
Thanks for pointing out the compiler weirdness @kallemooo. I will add it to the documentation. Pre compiled binaries will arrive the day I get something Jenkins like up and running. Precompiled _untested_ binaries that is as I only have ´5005 to test with.

[2018-08-25 20:41] ricktendo commented on #45
Hey Jordan,

Not that I have the money but would you be open to people donating other DPS units so you can have to test/develop for?

Ric

[2018-08-26 14:47] goosenphil commented on #45
I've modified @zoobab 's Dockerfile to now build it with GCC 7.1.0 (by using Fedora 28) and it now compiles successfully. Another possible reason why the build originally might have failed is that ```make
 flash``` expects the STM32 programmer to be present. Instead now the Dockerfile builds the firmware with the image and you can just run the container to get the binary (or flash it).

Here is th

[2018-08-29 21:11] jimmyw commented on #36
Try PR #42, it solved the issue for me.

[2018-09-01 22:03] jimmyw commented on #41
@Robin10155 Did a small redesign, and added this feature, se my branch: https://github.com/jimmyw/opendps

[2018-09-01 23:47] goosenphil commented on #45
@zoobab  Done! Could you please have a look at it here? https://github.com/kanflo/opendps/pull/47

[2018-09-01 23:50] goosenphil commented on #45
@zoobab Thanks for sharing the script, though I had permission issues with the files it copied over so I've taken a different approach: Instead of running the container, it just makes one from the image and then copies the files over (solving the permission issues by using docker cp). At the end I delete the container.

[2018-09-02 07:14] zoobab commented on #45
What is Dockerfile3?

[2018-09-05 10:06] 007trains opened #48 "Problem setting voltage with CV mode"
I have flashed the dps5005 unit successfully and tested cc mode which works ok (setting 1A results in 1.6A running). Then i tried cv mode but when i go to set the voltage it jumps from 0.00 to 17.46 then 17.63 then 17.80. I cannot set the voltage correctly, tried rebuilding/reflashing without success. Not sure if this issue is just me or the version i have compiled

[2018-09-22 21:58] lmandjes commented on #34
I have exactly the same issues on ubuntu, did you find a solution?

[2018-09-22 22:01] lmandjes commented on #34
I see last line was using 7.2.1 version

[2018-09-22 23:08] lmandjes commented on #34
How do i install 7.2.1 on ubuntu? downloaded the tar mut do not know how to link it into the toolchain

[2018-09-23 00:01] Xenoamor commented on #34
Try an earlier version. I can't recall which worked for me though

[2018-09-23 08:00] kanflo commented on #34
The BL is not reduced by ~300 bytes which hopefully should be enough. I am reluctant to changing the BL size as this would break peoples DPS:es until they realised the BL needs refreshing.

[2018-09-23 11:29] wangxiatao opened #50 "DPS5015 setting in dps-model.h does not work 100% with the latest hardware"
Hi, I bought a dps5015 fairly recently from a distributor called "KKmoon" from Amazon EU, and I quickly put in opendps after I did some testing on the stock firmware.

Two problems as I can tell right now. First off the settings in dps-model.h does not work correctly on the hardware I have (on the PCB it says version *V2.3*):
* ADC on the voltage reading seems to be OK
* DAC on the voltage is off

[2018-09-23 17:17] kanflo commented on #48
I would guess the DPS hardware changed. It's neither you nor your setup ;) I will see if I can reproduce it on one of my newer DPS:es.

[2018-09-23 20:16] wangxiatao commented on #50
Thanks for getting back to me so quickly Johan! Yeah...well, I missed that step to dump registers, what a mistake :(

I didn't have the same issue as some people have with the on/off button, so I guess the hardware change isn't that substantial, however I only have this dps so it's pretty hard for me to compare. Regarding the CC mode, I don't know if I missed any steps but I don't see it the way y

[2018-09-28 08:39] f0086 commented on #48
I have a similar problem. If I set the Voltage to 5V and turn it on, it measures ~4.7V. Same for other voltages (no load attached).

[2018-09-28 08:52] f0086 opened #51 "On/Off toggle on short circuit"
When I connect plus and minus, the background flashes white and it turned of. If I then got another short circuit (connecting plus and minus again), the device turned ON, and stays ON!

Maybe this is related to #42 and #36 ?

[2018-09-28 08:59] f0086 opened #52 "Limit voltage if > input voltage"
I use an old Thinkpad power supply for the input source for my DPS5005, which gives me 20.5V. Would it be nice if the output voltage will be caped to that voltage, because higher voltages makes no sense (no boost converter). Or do I miss something here?

[2018-09-28 09:00] f0086 commented on #36
Same problem here.
Is #42 save to use? Looks like this is still WIP?

[2018-09-28 22:30] ricktendo commented on #50
Did kanflo accept your generous offer to provide a 5015 for development?

I ask because I also have a 5015 and would love for this model to be officially supported!

[2018-10-01 18:54] kanflo commented on #52
That feature apparently got lost in the UI overhaul. Thanks for reporting.

[2018-10-01 18:55] kanflo commented on #51
That would _really_ no be the intended behaviour. I will have a look at it, thanks.

[2018-10-01 18:57] kanflo commented on #50
If you generously send me a '5015 @wangxiatao I would be happy to look at it. I have two other pressing matters on my todo list though, one just got covered on Hackaday, so I would guess "November" on '5015 support.

[2018-10-01 19:01] kanflo commented on #48
A calibration mode has been discussed some time ago and probably should be implemented. Still this variation is unexpected of the hardware unless the design changed.

[2018-10-01 21:37] kanflo commented on #36
I managed to reproduce the issue on a newer '5005 and #42 fixed it. I recall adding DAC zeroing some time ago but it got lost in the manual merge from the CC branch.

[2018-10-01 21:37] #36 closed

[2018-10-01 21:40] kanflo commented on #51
Yes, #42 fixed it. I actually fried a '5005 in the process, should probably sign up at patreon.com...

[2018-10-01 21:44] Cabalist commented on #51
Please do!  You'd have my subscription.  :)

[2018-10-01 21:55] kanflo commented on #51
Thanks! I tried but the sign-up part of Patreon is down for maintenance :D

[2018-10-01 22:31] kanflo commented on #51
Gah. Encountered the issue when testing #49 that obviously does not carry the #42 fix. Probably time to call it a day, good night all.

[2018-10-01 22:31] #51 closed

[2018-10-01 22:34] #43 closed

[2018-10-01 22:34] #33 closed

[2018-10-01 22:36] #34 closed

[2018-10-01 22:39] kanflo commented on #48
I see exactly the same behaviour wrt. output voltage on my new '5005. I will look into solving this at build time.

[2018-10-01 22:41] kanflo commented on #48
As this is a duplicate of #17 I am closing this one.

[2018-10-01 22:41] #48 closed

[2018-10-01 22:41] kanflo commented on #17
From #48: "I see exactly the same behaviour wrt. output voltage on my new '5005. I will look into solving this at build time."

[2018-10-01 22:43] kanflo commented on #1
Closing this one as CC is now on master.

[2018-10-01 22:43] #1 closed

[2018-10-01 23:19] Xenoamor commented on #17
Thanks. If you find what is different on the schematic let us know!

[2018-10-01 23:19] Xenoamor commented on #51
+1 for patreon

[2018-10-10 08:15] wangxiatao commented on #50
Yes he did :) According to @kanflo good things might happen in November, stay tuned

[2018-10-11 03:02] geekbozu commented on #17
Could, At your leisure, Explain how to use the PAST library you have included as well as clarify the bug that is noted in your comments? I plan to get to this soon (finally) and want to make sure that we can save the configs to start >.>

With that would getting a command line based calibrator make more sense first? Or should we go for from panel interface-able calibration right off the bat?

[2018-10-13 21:56] u22br commented on #50
Hi,

I have DPS5015 PCB revision V2.3 (bought from TomTop an year ago).
I did register dump before reflashing it to OpenDPS.
[DPS5015_debug_data.tar.gz](https://github.com/kanflo/opendps/files/2475882/DPS5015_debug_data.tar.gz)
After reflashing it does not working properly, but I guess I can make mistake somewhere.
Before reflashing I desoldered STM32F100 and soldered new one instead of it,
so I h

[2018-10-13 23:02] kanflo opened #53 "Bug in past makes boot loader halt"
A bug in ```past_read_unit``` makes the bootloader halt when the current past block is completely full.  As ```past_read_unit```does not check if the unit was found, it breaks as it reaches the end of the past block and returns the current address. This tricks the BL into thinking the ```past_upgrade_started```unit exists and thus halts.

The workaround will be simple but for people not having pro

[2018-10-13 23:14] geekbozu commented on #17
Yeah that is what I was thinking instead of writing on on hardware ui to start.

Process something like such.

"Set Dac to value" -> User types in real value
x2-3 times
Once voltage is done,
Ask user for Resistor value, -> set output voltage and measure current @ known value
x2-3 times

Save and have a well calibrated output.

Input calibration will be a little trickier but not horrid.
Working on

[2018-10-14 04:52] vogelfreiheit commented on #17
I second both the PID controller loop idea and also having an UI "debug menu" of sorts (text screen is plenty good) that we could activate and do the calibration there. Adding a requirement for dpsctl means another layer of complexity and extra hardware when we could literally just do this with a barebones UI that takes Vin and Vout and perhaps Cin Cout and adjust things internally.

Nobody should

[2018-10-14 05:05] geekbozu commented on #17
I already have my local copy loading constants from flash, I'm currently working on implementing a way to send the constants via DPSCTL once that's functional I will be working on a UI wizard for it. Because I agree it needs something.

Once we have the ability to know out constants work across the voltage and amperage range we can/will work on some kind of run time adjustment.

[2018-10-14 05:38] vogelfreiheit commented on #17
Unrelated but: we could add MQTT capabilities to the ESP32 firmware. Not sure what is available and the code quality involved, but that would make it ridiculously useful for integration with all kinds of automation systems and metrics gathering.   If some issues are ironed out, the whole package would rival (based on cost alone) pretty much anything else the average hobbyist could get his hands on

[2018-10-14 05:40] geekbozu commented on #17
Throw it in the  SCPI support issue both would be pretty sweet

[2018-10-15 00:59] geekbozu commented on #17
Hit a small snag where ATOF is using more memory then originally intended so I need to rework how dpsctl sends commands for calibration over. But progress is still happening. Slowly in my FORK

[2018-10-15 18:12] Xenoamor commented on #17
Are there any downsides to moving from fixed point to floating point, I believe there's no floating point unit in the MCU?

Also I think there are a few lines like this: https://github.com/geekbozu/opendps/blob/c1edaaac687a703266e88f62cda0f17f033ca8cd/opendps/pwrctl.c#L275 that will lose the fractional part (i.e. 1.9 will become 1)

[2018-10-15 21:40] #53 closed

[2018-10-15 23:34] geekbozu commented on #17
IMO not really it will be a bit slower but not really enough to matter for what we are doing. OCP is the only thing that will be really effected by it and OCP should be set to be more forgiving anyway then @ death point of the Device Under Load.

For the items like what was linked is not really ok but acceptable as depending on the case.

It is a value being sent to the dac and needs to be a whole

[2018-10-16 15:13] Xenoamor commented on #17
I believe Kanflo pre-calculates the OCP value with pwrctl_calc_ilimit_adc() and stores it in the variable pwrctl_i_limit_raw so speed shouldn't be an issue when it comes to this

[2018-10-16 18:23] #40 closed

[2018-10-17 18:02] u22br commented on #50
Hi,

Today I found the reason why my OpenDPS setup was not worked.
I wasted a lot of time trying to found where I made a mistake
when I edited source code files/compiled a project/flashed it to mc/something else.
Finally I decided to check microcontroller ID and bingo :)
As I said before, I desoldered original STM32F100C8T6B for have a backup and soldered
other MC which I bought on Aliexpress 3 mo

[2018-10-17 20:00] wangxiatao commented on #50
Aha so this is how a register dump looks like! How does one make use of this dump?

I just checked my stock MCU and it has the same response as your original MCU, just to confirm that. Now knowing this, have you been able to get your dps to work @u22br ?

[2018-10-17 20:30] u22br commented on #50
Today I ordered STM32F100C8T6B from local distributor, hope that I will get it in 2-3 days.
I guess that my DPS will work OK with right stm32 because of with fake STM32F100 everything was fine except of reaction on ON/OFF button. That is due to STM32F103 does not have DAC.

[2018-10-22 19:02] u22br commented on #50
Hi,

Some updates.
With genuine STM32F100C8T6B my dps has appropriate reaction on ON/OFF button, output voltage appeared but there is some issue as wangxiatao described in first message. Output voltage a bit less than I set up, for example if I set 5V real output voltage is about 4.68V.
Also recently I have got new toy - DPS5020. It also has PCB revision V2.3 and I took a photos of all active comp

[2018-10-22 20:07] kanflo commented on #50
Please feel free to post the photos @u22br.

[2018-10-22 20:11] kanflo commented on #50
@wangxiatao The register dump can be used to check what state of the STM32 peripherals (DAC, timers, GPIOs, ...) when the original firmware is running. With this information it is possible to check if the original firmware uses a peripheral that OpenDPS currently not supports.

[2018-10-22 20:41] u22br commented on #50
later I will edit this post and add to it some additional info and photos
.
.
**5015**
![0](https://user-images.githubusercontent.com/44125183/47317759-09cf2480-d653-11e8-9943-cfef6276e1ad.png)
![1](https://user-images.githubusercontent.com/44125183/47317766-0d62ab80-d653-11e8-9c7b-27797f18d3fc.png)
all four output mosfets same as this one:
![2](https://user-images.githubusercontent.com/44125183/4

[2018-10-23 20:31] wangxiatao commented on #50
Very nice pictures! Can you see which component is the current shunt? I'm interested to know which ADC pins are used by the ST micro to measure current.

I'm not able to use "try an error" to fix the current, I know it's silly and I should've started with measuring the right components, but I actually did that on the voltage DAC and the value below gives me good setting on the voltage, which is co

[2018-10-23 21:28] u22br commented on #50
@wangxiatao sorry, I am not sure that I correctly understand what you mean when say "which component is the current shunt". There are three current shunts on the board near output terminals. Near it (in fact right under current shunts) there are four active components (all sot-23):
SOT-23-5 | marking on the board: U6 | marking code: A63A  | LM321M
SOT-23-5 | marking on the board: U3 | marking code

[2018-10-24 11:18] u22br commented on #50
Hi,

Today I decided to do a big job, I desoldered almost all components from pcb which cover pcb traces.
So with these photos everyone can find out connections between components.
And may be someone will be brave enough to do schematics using these photos :)
Please note that I will solder pcb back nearest days, so I can do more photos if something hard to examine on provided photos.

![pcb_bottom

[2018-10-25 08:09] wangxiatao commented on #50
@u22br sorry I should've described my question better, I was looking for the amplification output of the voltage drop over the current shunts. The components you mentioned are probably for amplification, so it's interesting to know which pin is the output of the final signal before it goes into the ADC.

The current shunts have extremely low resistance as I measured in room temperature, I don't kn

[2018-10-25 12:34] u22br commented on #50
@wangxiatao
I guess that interested your path goes something like that (maybe I'm wrong):
![i_adc](https://user-images.githubusercontent.com/44125183/47500205-d2d35b80-d86a-11e8-978e-64afa66c80c3.PNG)

[2018-10-26 15:13] Jantek commented on #50
Hi everybody! I would like to report the strange behavior I see on my new DPS5015 and DPS5020 (both V2.3). Of course I have no register dump... **stupid, I know!**

When I am in the CV-mode I can't setup the voltage. As you can see here in the pictures the voltage jumps between 0V and approximately 83V. Even if I am at the last digit. Sometimes the PSU crashes and need to be restarted, sometimes t

[2018-10-26 15:43] Jantek commented on #50
I should have read the other issues first! Isn't it #48 with have been closed for #17 ?

[2018-10-29 23:55] ricktendo commented on #45
I would like to compile the firmware for my DPS5015, can somebody update the readme with the instructions or give me an example of how I compile the opendps and dpsboot for the DPS5015?

I found this but I am uncertain what max current I should really use
`make -C opendps MODEL=DPS5015 MAX_CURRENT=9999`
Also, can somebody tell me if the dpsboot is model specific or is this same for all models?

[2018-10-30 10:17] Jantek opened #55 "Unable to set voltage when V_In > 32.7V"
When I am in the CV-mode and V_In is greater than 32.7V I can't setup the voltage correctly. As you can see here in the pictures the voltage jumps between 0V and approximately 83V. Even if I am at the last digit.

My suggestion is a overflow of a 16-bit signed variable as the problem seems to happen when V_In is greater than 2^15 mV.

![img_20181026_164009](https://user-images.githubusercontent.co

[2018-11-01 19:09] #55 closed

[2018-11-01 19:10] kanflo commented on #55
I have to admin I have never powered my DPS:es above 12V ;)

[2018-11-01 20:06] ricktendo commented on #45
Thanks kanflo I was able to compile but I did receive many, many warnings

I have a DPS5015, this is 15A so would this be correct?

`make -C opendps MODEL=DPS5015 MAX_CURRENT=14999`

If I leave out the **MAX_CURRENT** command, will it compile using the default maximum current rating of the model?

[2018-11-01 20:19] kanflo commented on #45
Yes, that is correct. What warnings do you get and what version of ARM gcc are you running?

[2018-11-01 20:56] ricktendo commented on #45
1- I am using Ubuntu 18.04 on Linux Subsystem for Windows 10, when I used **gcc-arm-none-eabi-7-2018-q2-update-linux.tar.bz2** I get the [following warnings](https://pastebin.com/bYGW9bLE) when compiling **libopencm3**, none for **dpsboot**, and [one warning](https://pastebin.com/enkRki8i) for **opendps**

2- I also tried with `apt install gcc-arm-none-eabi` and I got **NO WARNINGS** when compilin

[2018-11-01 20:59] kanflo commented on #45
Ah, I thought you got lots of warning from building opendps. Glad that was not the case ;)

[2018-11-01 21:03] ricktendo commented on #45
Are the warnings OK, should I ignore?

Just to confirm, it is OK if I leave out the MAX_CURRENT command because specified MODEL will use the default max current?

[2018-11-01 21:20] kanflo commented on #45
Yes, you can safely ignore the warnings. You will need to set MAX_CURRENT as it defaults to 5000. This is actually something that should go into [dps-model.h](https://github.com/kanflo/opendps/blob/master/opendps/dps-model.h) when I think about it.

[2018-11-02 01:31] ricktendo commented on #45
Please include default max current in dps-model.h, if somebody wants to override they can use the MAX_CURRENT command.

P.S. what are the offsets of the dpsboot and opendps, in case I wanted to flash manually?

[2018-11-04 07:49] vogelfreiheit commented on #17
How is this progressing?

[2018-11-04 18:19] geekbozu commented on #17
Coming back around on the round robin soon. I need to make a "ui" still and that is really it for calibration you can manually specify the values if you know what they are with my version of DPSCTL.py (supposing I pushed the right version there was a small bug last I checked). Making a case for it then its back to making this work right so i'm not developing it on my lap.

[2018-11-06 05:18] geekbozu commented on #17
https://imgur.com/a/WwTwlj2
Welp case is made. Really happy with it so now I can sanely get back to this. Hopefully I get some free time from work soon.

Note: Line 120 Protocol.py needs to be "f" not "d" for anyone testing will be fixed in the next commit.

[2018-11-06 05:29] geekbozu commented on #17
https://imgur.com/a/WwTwlj2
Welp case is made. Really happy with it so now I can sanely get back to this. Hopefully I get some free time from work soon.
Is it possible to update the boot loader with out the SWD wire-up? I really don't want to attempt to solder that backup any time soon if I don't have to.

Note: Line 120 in my fork Protocol.py needs to be "f" not "d" for anyone testing will be fix

[2018-11-11 06:56] geekbozu commented on #17
So I have gotten Output Voltage calibration working 👍
Input Voltage Calibration is next.
Current/Constant current mode are after that.

If anyone wants to test I would be grateful.
https://github.com/geekbozu/opendps/commit/46df2c9d939d98602ddfeae8ec2095003c535fc8

code for dpsctl for calibration
`dpsctl.py -d comX -c`

I added a re-init function incase your DPS gets really messed up, It reverts b

[2018-11-11 21:52] geekbozu commented on #17
@kanflo is the formula for calibrating the V_IN ADC different then V_OUT? I cant seem to produce results that match real world using the current formulas, Nor do your spread sheets match the values supplied in pwrctl.c

[2018-11-12 01:07] Xenoamor commented on #17
This is great! Thanks so much. I'll be sure to test this as soon as I'm back from an international work trip

[2018-11-12 01:35] geekbozu commented on #17
Kinda, For input voltage calibration we need to get a reference point on the ADC, We do that by feeding a known voltage to the DPS we can get known ADC values to compute our coefficients.

I am currently still debating on how I want to handle current calibration, I might have a way to handle both CC and Current display in one shot. I'm looking over if it will work well for us.  :)

[2018-11-12 23:43] kanflo commented on #17
Really cool work @geekbozu, hoping to try this out tomorrow!

[2018-11-12 23:45] kanflo commented on #45
@ricktendo : 0x08000000 for the bootloader and 0x08001400 for the app. Max currents in dis-model.h is a good idea.

[2018-11-14 21:52] vogelfreiheit commented on #17
I'll try this over the weekend! I might need to look into soldering a ESP32 directly to the UART and have some sort of bridge or such for this purpose. Anyone has any custom firmware they recommend? It could be useful to have graphing or data output from the PSU (maybe fake SCPI?).

[2018-11-15 17:39] geekbozu commented on #17
It is not wired up in the pictures but in mine I got a USB bulkhead adapter and wired up a USB -> Serial adapter for mine. https://imgur.com/a/WwTwlj2 You can see the bulkhead in the last picture.

[2018-11-16 21:40] iondulgheru opened #58 "Cannot upgrade DPS5005"
I have this DPS5005:
https://www.banggood.com/RD-DPS5005-50V-5A-Communication-Function-Constant-Voltage-Current-Step-down-Power-Supply-Module-p-1161704.html

I followed the instructions from Readme.md in order to upgrade it, but without success.
The errors I get are:

[code]

I checked and the TTL to USB device name is ttyUSB0.
I also ran these commands with success:
[code]
I tried on Ubuntu 18.04

[2018-11-16 23:13] kanflo commented on #58
From your instructions it's not clear that you flashed the dpsboot.bin and opendps.bin binaries, did you?

[2018-11-18 22:51] iondulgheru commented on #58
@kanflo, I guess I didn't.
Can thi be done over UART? Because I have the model with 1.25mm spaced JTAG pins.
From the documentation I understand it can be done only with JTAG

[2018-11-19 12:37] Xenoamor commented on #17
You might want an isolated USB to serial adaptor

[2018-11-19 12:57] geekbozu commented on #17
Only ground is wired up, So it may introduce some noise to the circuit/get some noise from the circuit but other then that it should be fine, I honestly don't plan on using it with USB plugged in in most cases anyway its really just for development and occasional data logging.

[2018-11-20 20:51] kanflo commented on #58
That is true, you can only flash OpenDPS and its bootloader via JTAG.

[2018-11-21 21:33] kanflo commented on #58
Yes, you need to solder JTAG for the initial upgrade. When completed you can upgrade over the UART or via JTAG if you choose to keep the soldered pins. On the newer DPS:es soldering is a pain which is why I created the [DPS bottle](https://johan.kanflo.com/easing-the-pain-of-swd-on-modern-dpses/).

[2018-11-21 22:56] iondulgheru commented on #58
Thank you very much @kanflo !

[2018-11-21 22:56] ricktendo commented on #58
I just used some rainbow colored ribbon cable pre-tinned the wires so they are stiff and can fit through the holes, then I crimped some DuPont female pin headers on the other end

[2018-11-28 21:06] herostrat opened #59 "Dual Use of "serial_handle_rx_char""
Hey guys,

I wanted to play a bit with SCPI a implementation, although I am at the very beginning and currently trying to understand this project structure.

My idea was to make a Makefile definition to use either SCPI or the currently used protocol.
From:
https://github.com/kanflo/opendps/blob/d906c1034fd8fb3a06a72e3fd8a8418de215692f/opendps/opendps.c#L717

I come to:
https://github.com/kanflo/op

[2018-11-29 18:52] gnbl commented on #50
I have used @u22br 's scans from https://github.com/kanflo/opendps/issues/50#issuecomment-432616154 to trace the bottom layer for an overlay:
![dps5015_traces](https://user-images.githubusercontent.com/1181708/49242801-f3fc0e80-f40b-11e8-9cb7-9b31be1f8d0a.png)
Note that there are separate bottom fills and some vias connect to these.

[2018-11-29 23:37] kanflo commented on #59
Cool! Your understanding is correct and the answer is in the [makefile](https://github.com/kanflo/opendps/blob/4588761c30f39651088a6a2ab5b7727927a85408/opendps/Makefile#L73):

[code]

The ```command_handler``` implementation is best suitable for SCPI adaptions, the ```protocol_handler``` is used for the binary serial protocol used by ```dpsctl```. Building with ```make COMMANDLINE=1```will include

[2018-11-30 10:45] gnbl commented on #50
@u22br Could you get the values for RT1, R29, RL? I suspect these could be used for temperature sensing - not sure if U7 has a part in it. Also present on DPH5005.

[2018-11-30 14:20] u22br commented on #50
Hi
@gnbl
right now I can measure it only without de-soldering
if it is not OK for you, please let me know
R29 - 9.63kOhm (slightly increased during measurement, may be actually it close to 10kOhm)
RL - 10.0kOhm
RT1 - 8.97kOhm (slightly increased during measurement, may be actually it close to 10kOhm)

[2018-11-30 15:05] gnbl commented on #50
@u22br Thanks, I got very similar values - posted in a comment at https://johan.kanflo.com/the-future-of-opendps/ with other findings, but it's not published yet. I suspect U7 is a voltage regulator or reference, but I have not yet found pin compatible parts (assumption: 1 = EN, 2=GND, 3=Out, 4=Vcc, 5=GND). EN then would be controlled by PD1, PA0 would be an ADC to measure the reference voltage, w

[2018-11-30 15:14] gnbl commented on #29
DPS5015 (and DPH5005) seem to have temperature sensors, see https://github.com/kanflo/opendps/issues/50#issuecomment-443231110

[2018-12-02 11:58] gnbl commented on #50
Although my comment since has appeared in kanflo's blog, I'll take the liberty to "dump" it here as well with minor modifications and additions:

I just got a DPS5015 and DPH5005.
There seems to be surprisingly little hardware info on these RD DPS/ DPH power supply modules out there.
So far I found
https://github.com/kanflo/opendps/tree/master/hardware/reverse-engineering/dps3003 (KiCAD schematics

[2018-12-02 16:48] gnbl commented on #50
Even if U7 was supposed to be used as voltage reference, the stock firmware does not use it to calibrate the ADC. If the supply voltage drops, the module input voltage reading is much higher (19 V for 12 V at 1.9V VCC).

[2018-12-04 12:18] gnbl commented on #11
Info on DPH series:

https://lygte-info.dk/review/Power%20DPH5005-USB%20UK.html
https://lygte-info.dk/review/Power%20DPH3205%20UK.html

And my own register/memory dumps (made with https://github.com/kanflo/opendps/blob/master/ocd-client.py) for STM32F100C8T6B on DPH5005, hardware V1.1 with firmware V1.6:
[DPH5005_HW=V1.1_FW=V1.6.zip](https://github.com/kanflo/opendps/files/2643866/DPH5005_HW.V1.1_

[2018-12-10 22:33] piit79 commented on #41
@jimmyw Could you please post a picture of your modified UI? :-)

[2018-12-14 19:53] kanflo commented on #50
I am now looking at the DPS5015 that @wangxiatao kindly sent me. For the DPS5015 folks out there, what output is generally needed to make the stock firmware turn the fan on? I can control it as expected via PB11 but if there are ways of setting the speed I would like to get register dumps before wiping the stock firmware.

[2018-12-14 21:55] #52 closed

[2018-12-14 21:57] kanflo commented on #59
Closing as the dual use of ``serial_handle_rx_char`` was intended ;)

[2018-12-14 21:57] #59 closed

[2018-12-14 21:58] #58 closed

[2018-12-14 22:17] kanflo commented on #17
I finally got around to test and I am impressed! Much looking forward to your PR.

[2018-12-15 03:16] geekbozu commented on #17
I actually have been waiting for someone other then me to test this as I haven't had much time to put into it! So its been sitting on my backburner waiting for voltage calibration to be tested before I start working on current calibration!

[2018-12-15 17:44] Xenoamor opened #60 "DPS5005 Communication Module doesn't work at 115200 Baudrate"
It looks like the isolated USB serial adapter that comes with the DPS5005 from this [Aliexpress link](https://www.aliexpress.com/item/RD-DPS5005-Communication-Function-Constant-Voltage-current-Step-down-Power-Supply-module-buck-Voltage-converter-LCD/1000004290003.html?spm=a2g0s.9042311.0.0.27424c4dgjoBBV) doesn't operate at 115200 baud. Changing the default baudrate of opendps, dpsboot and dpsctl

[2018-12-15 17:50] Xenoamor commented on #13
Sounds interesting... what computer software uses SCPI? I'd be interested to know if it's worth the effort

[2018-12-15 17:51] Xenoamor commented on #17
Will test now

[2018-12-15 18:34] geekbozu commented on #17
I will gladly accept any input on how to make this program flow better. User side software is definitely not my strong point :)

[2018-12-15 18:39] Xenoamor commented on #17
Ooops... disregard that I haven't had my evening coffee. I input the values out by a factor of 10....
It seems to have corrected the 140mV offset that the device had on the input with the default values so all is working well!

I'll try the rest now

[2018-12-15 18:40] geekbozu commented on #17
Woo :) Definitely need to spruce up the instructions but for now "they work"

[2018-12-15 19:59] Xenoamor commented on #17
It seems to be working to me. I think with some code cleanup and some clearer instructions in the python tools this should be good to go. I'll start making pushes to your repo for these

[2018-12-15 20:44] geekbozu commented on #17
That would be amazing, Thank you a ton. Ill work on tackling Current calibration soonish Should have time later this week.

[2018-12-15 20:44] kanflo commented on #13
When working with test equipment SCPI is quite common. All instruments from the big guys such as National Instruments speak it.

[2018-12-15 20:47] kanflo commented on #60
That would include the esp8266 bridge too but I am somewhat reluctant to this kind of change as it would probably cause confusion when things fail following a git pull and force everyone to upgrade everything on all devices.

[2018-12-15 20:52] kanflo commented on #17
If you store the coefficients in the past they will survive power cycles. I see you store the K and C values in different units which in theory may cause problems with atomicity. I would recommend storing them in the same unit.

[2018-12-15 21:05] geekbozu commented on #17
I can add the mangling to store them into 1 past unit later. Due to the fact that there is only one place where they are written and read they should always reflect the last written value.

[2018-12-16 07:54] geekbozu commented on #17
It very much is possible to re-work that, I am not super versed on how to effectively handle blocks of code like that so I defaulted back to If/Else. Thankfully it does work in its current state and at the least should not need to be expanded to much Honestly this code needs more love IMO https://github.com/geekbozu/opendps/blob/a8d7248c63a8b69777929b5a6959c5ae0520c9af/opendps/pwrctl.c#L55

Defini

[2018-12-16 15:14] Xenoamor commented on #17
I didn't realise that the serial commands operate on `variable=value`. Please disregard my comments on changing [opendps_set_calibration](https://github.com/geekbozu/opendps/blob/1da1c1f8eab3db899b42696d3ccb18ea233ee3d4/opendps/opendps.c#L274) to use enums. I'll look at cleaning up handle_set_calibration/handle_list_parameters

[2018-12-16 16:38] Xenoamor commented on #17
I've noticed a strange issue with when you calibrate the output voltage

[code]

It seems like `V_ADC_K` is being set to the value of `V_DAC_K` and `V_ADC_C` is being set to the value of `V_DAC_C`

[2018-12-20 23:06] Xenoamor commented on #17
Right I _believe_ this is all good to go now. If anyone gets a chance to test it [the repo can be found here](https://github.com/Xenoamor/opendps)

It's fixed the issues I had on my DPS5005 which were all way out before I calibrated it

[2018-12-21 02:48] geekbozu commented on #17
I've been following, I just havent had time. Life and holidays are reeking havoc with my schedule

[2018-12-21 02:56] geekbozu commented on #17
I looked at your repo, I was planning on doing current calibration differently, Instead of needing multiple resistors once we know that Output is correct we can use one nominal resistor value for the whole range of available current. With out any user interaction. Should be more user friendly to just give a measured Low value resistor and handle it that way.

[2018-12-21 15:08] Xenoamor commented on #17
That seems like a good way of doing it. I guess you could first calibrate the current ADC and then straight after calibrate the constant current mode automatically

[2018-12-21 15:10] geekbozu commented on #17
that was the thought, It requires a strict in order calibration process. Input -> output -> current. But I feel its less burdensome on the user. It not like this is a nist traceable calibration after all :)
Any other opinions @kanflo ?

[2018-12-21 15:30] Xenoamor commented on #17
Isn't it already important that you do the output voltage calibration before you do the current calibration though as it works out the current from V/R? If that is the case then I don't see there being a much greater hinderance from having to do the input voltage first

[2018-12-21 16:49] geekbozu commented on #17
Well the way it is programmed now its very important. We could in theory have the user generate all the values. But then what would be the point of calibration to begin with ;) Its also very important todo input calibration before all of those else we cant properly set a min/max operating voltage!

The current code for current calibration was a copy paste and honestly if it works I'm shocked FWIW.

[2018-12-22 21:46] kanflo commented on #60
@f0086 It does not respond at all? If so I need to try and reproduce that. By design, the bootloader shall not try to boot the opendps application if an upgrade failed or did not finish. However, you can force the bootloader to attempt an upgrade if you keep the SEL button pressed while powering on the DPS.

[2018-12-22 21:54] kanflo commented on #17
@geekbozu I think "strict order calibration process" beats "burdensome for the user" ;) I will have a look at your work this Christmas.

[2018-12-23 03:46] geekbozu commented on #17
Glad we are in agreement! And merry Xmas Everyone!

[2018-12-24 17:43] Xenoamor commented on #60
I don't think this is the same issue I was seeing. I couldn't communicate with the device at all
On a side-note I had an annoying issue with running Ubuntu in VMWare where the serial port would crash after one message. Running it outside of a virtual machine worked fine although I don't think this has anything to do with the python tools

[2018-12-24 19:05] Xenoamor opened #61 "DPS3003 or DPS3203 schematics?"
Are the files in the opendps/hardware/reverse-engineering/dps3003/ directory for the DPS3003 or the DPS3203? The folder name doesn't match the filenames

[2018-12-27 19:02] Xenoamor commented on #60
I'll look into adding this after https://github.com/kanflo/opendps/issues/17 is resolved as I've not branched properly on my fork and will need to recreate it...

[2018-12-29 17:53] Xenoamor commented on #52
I'm still seeing this issue on my branch...

[2018-12-29 17:55] Xenoamor commented on #6
I was thinking of this problem just recently. Perhaps having a fixed period of ~30ms and then in the settings you can adjust the percentage overcurrent it will allow for that period

[2018-12-29 18:30] Xenoamor commented on #17
Okay the calibration routine has been changed to have a fixed order. It got my device down to under 1% accuracy from ~5%. My multimeter doesn't have many counts so a better one would likely get it lower

The way I did it is the following:
1. Remove everything from the output of the DPS5005
2. Power the DPS5005 from a bench power supply set to ~7V
3. Run `python dpsctl.py -d COMX --init`. If you ha

[2018-12-29 22:41] Xenoamor commented on #17
Okay I've now added constant current calibration (although it doesn't seem to be as accurate as I would like)

I've also made it so it restores whatever settings you had setup before the calibration routine so it doesn't wipe them. It also is a lot less verbose now so you won't get the "current: ok" prompts

Let me know if anyone needs anymore details so they can test it. This seems all good to go

[2019-01-01 14:32] tzarc commented on #18
Should I just prep the PID-controlled branch I had?

[2019-01-01 17:10] tzarc commented on #18
Pushed to the following branch, based on current master:
https://github.com/tzarc/opendps/tree/pid_v3

Only handling CV, don't have a way to test CC.

[2019-01-01 17:31] Xenoamor commented on #18
Awesome, I was just looking into how best to implement this.
How do the two DACs work on the DPS5005 to control voltage and current. Is it possible to set them to two different values and it will automatically switch between CV and CC modes?

[2019-01-01 20:37] Xenoamor opened #65 "Merge CV and CC modes"
Most, if not all, benchtop power supplies operate by setting both a voltage and a current level and limiting whichever one is reached first. This is in effect operating seemlessly in both CV and CC modes

I sat down and watched [Dave's great video series on designing a PSU](https://www.youtube.com/watch?v=CIGjActDeoM&list=PLBF35875F73B5C9B5) and I believe we have a circuit similar to the one below

[2019-01-01 20:48] kanflo commented on #27
<4 bytes, %4 is handled IIRC

[2019-01-01 21:04] kanflo commented on #65
Thanks, I'll watch Dave's design videos (3.5 hours of presumably good stuff I see, amazing guy) and try to get my head around merging the CV and CC modes.

[2019-01-01 21:17] Xenoamor commented on #65
Part 1 shows all about how the current limiting works by using a comparator to turn off the output when the current exceeds the set value. [The code I linked to](https://github.com/Xenoamor/opendps/commit/73b334986b0626d68c8d136809f94299f4b724b5) does do what it should with them merged but it's worth watching that video as the penny didn't drop for me until I had

[2019-01-01 22:12] Xenoamor commented on #17
Okay I've been using this for a while now and it seems okay. However one of the parameters, A_ADC_C, is being corrupted on a power cycle. Could this be a bug in past.c? I don't think there's anything wrong in my code additions/changes..
[code]

[2019-01-02 01:58] geekbozu commented on #17
i'm honestly kinda stumped on this one for the moment, I see nothign glaring in the code. Seriously though thanks for all the help!
Could you do some more power cycles and see if its just that param that corrupts or if others do eventually as well?

[2019-01-02 02:06] tzarc commented on #65
Feel free to take the PID control stuff from my branch -- it's working for CV but I've got no test loads available for anything to do with CC. I'd much prefer a more robust version, and as I've got no idea if my stuff breaks the CC stuff it'd be best if someone else could work out if it's broken.

[2019-01-02 11:09] Xenoamor commented on #65
Awesome thanks! I believe what you have for CV should work well. The only issue is I now need to be able to tell when the device is in CC mode. This is because in CC mode the device won't be able to raise the voltage anymore and the PID loop would run away with the voltage controlling DAC output.

Now the way this works in Dave's PSU is he has a digital IO pin connected to the output of the consta

[2019-01-02 11:12] Xenoamor commented on #17
The mystery deepens... it appears it sets the A_ADC_C value to this strange value even if I run a --init. Perhaps it's not being erased properly?
[code]

[2019-01-02 11:54] Xenoamor commented on #17
Okay so I changed the enum values in pastunits.h and it's now working...
[code]

@kanflo do you know what might be happening here? Is it possible I have a really b0rked past flash section that isn't being erased?

If anyone can test it with the standard code and confirm this is a "me" problem then that would be great

[2019-01-02 12:11] Xenoamor commented on #17
Okay the "1.0732764899e-08" erroneous value is stuck in the ID space 3. Is something else using this past ID?

[2019-01-02 12:34] Xenoamor commented on #17
Okay I've found the offending line here: https://github.com/kanflo/opendps/blob/2e1a8e686c8f3b910c00cb737a68af8efa043e21/dpsboot/dpsboot.c#L308

Looks like DPSboot is changing it. Now there's nothing wrong with this but I'll make it clear in pastunits.h and I'll also remove 'past_power = 1' as this is now not used

[2019-01-02 13:22] Xenoamor commented on #17
[Commit has now been made](https://github.com/Xenoamor/opendps/commit/d9d243755058a0846fc88e5a26a23a13e9e1c953) and I believe we're looking to be able to merge this in again

[2019-01-02 14:57] Xenoamor opened #67 "No way to disable dbg_printf from makefile"
It would be good to have debug printing be a compile time option. I'm happy to implement this in due time

[2019-01-02 15:01] geekbozu commented on #17
Your amazing. I spent my time checking the CV/CC modes for the same bug, Never thought to look in the boot-loader. Ill build and flash this tonight and give it a check. Really excited thanks for all the help!!!!!

[2019-01-02 15:46] Xenoamor commented on #7
@lumostor did you get a chance to look into this? I think as we know the current through the shunt resistor we should be able to account for this quite easily. It does require us to know what that resistance is of course

[2019-01-02 16:15] Xenoamor commented on #18
Thinking about it do we need a voltage PID? There's already a feedback loop in the hardware and with correct calibration in #17 and with a fix for #7 we should be able to say for certain (giving a bit for calibration errors and temperature drift) what the output is.

[2019-01-02 16:58] Xenoamor commented on #65
Okay I've [bodged it in](https://github.com/Xenoamor/opendps/commit/fd83fece85fa931d579103c41db3400fc0d2fa1d) to test it out and it now correctly displays either CC or CV depending on what it's doing. There's no actual feedback from the hardware loop that I can use that I'm aware of (I did check all the GPIO pins) so this works by determining which target setting is the one getting capped

Now thi

[2019-01-02 18:59] Xenoamor commented on #17
It could do with taking multiple ADC readings and averaging them to be honest but my python-fu isn't very good so I'm not too sure how to do this without cluttering the codebase

[2019-01-02 20:59] kanflo commented on #67
You're right, feel free ;)

[2019-01-02 21:04] kanflo commented on #17
I probably should add a comment regarding the past unit IDs stating that they must not be shuffled around. Glad it wasn't a bug ;)

[2019-01-02 21:06] makefu opened #68 "DPS8005 Support"
Hey all,

I would love to have my dps8005 supported, i attach the on/off files for 5,10,15V attached to a 20V power source.

I would love to understand how the values correlate to the inputs in `dps-model.h`.

[5v-off.txt](https://github.com/kanflo/opendps/files/2722060/5v-off.txt)
[5v-on.txt](https://github.com/kanflo/opendps/files/2722061/5v-on.txt)
[10v-on.txt](https://github.com/kanflo/opendps

[2019-01-02 23:47] Xenoamor commented on #68
Hmm.. that's very odd. The DAC values are the same on all of the xxv-on.txt files.
This is different to how the other devices work.

Are you sure you collected these with a different output voltage actually set? I think you have to "confirm" the input value by pressing set or something. Looking at the files I'd guess that they're all set for the same output voltage/current

I don't actually have a

[2019-01-02 23:54] Xenoamor opened #69 "Python get GIT hashes"
It would be nice to be able to get the GIT hash strings for the bootloader and the application for debugging. This could be done via a new protocol command in dpsctl

[2019-01-02 23:57] makefu commented on #68
Hey @Xenoamor , yeah i am quite sure that we confirmed the output voltage. We checked the source code and discovered that setting the register `DHR12R1` via openocd does not set the the output voltage ( as described in `dsp-model.h` ).
Additionally the static values for calculating the input voltage do not match the model  ( in `opendps/pwrctl.c` ).

[2019-01-03 00:02] Xenoamor commented on #68
Hmmm.. well that's very concerning then. Perhaps the DPS8005 does not have a DAC controlled output then. I guess alternatives are PWM that's then smoothed to an analogue voltage (although this makes no sense on a device with a DAC), or there's a seperate device that handles the voltage/current setting that is controlled via SPI/UART/I2C. You may have to have a look at the PCB and see if things are

[2019-01-03 00:19] geekbozu commented on #17
Once this has been proven to work, I can take a stab at the python side. Sadly nothing will be pretty with this but I'm sure there is a way to clean up the code and make it "prettier" we shall see.

I think a better comment to be made would be to ensure that all pastId's are properly documented in said enum. however I think that is likely hard seeing as the boot-loader and opendps do have "seperat

[2019-01-03 02:03] geekbozu commented on #17
So I've tested it. We need to add a way for the DPS to ignore current overage during calibration. My unit refuses to calibrate up because it immediately overloads upon starting and it gets bad readings as a result.

[2019-01-03 09:32] makefu commented on #68
@Xenoamor i really do think that the hardware revision is different, unfortunately. It contains new-style connectors and there are different chips on the board. When i get to it i can make some pictures, unfortunately for viewing the middle plate it seems i need to de-solder the 8 pins to the display, which is always a huge pain.

[2019-01-03 10:16] Xenoamor commented on #68
If you do take pictures please grab as high resolution ones as possible as like you said. You really only want to take that display off the once
There's an annoying hardware design fault that we discovered in #7 so I'd be interested to know if this one gets around it. Also any output filtering and reverse voltage protection would be a very welcome addition

[2019-01-03 10:23] Xenoamor commented on #17
I'm actually thinking about removing the current overage completely in #65. I too had the same issue though on occasion. The issue you're referring to is the same as seen in #6

[2019-01-03 13:13] geekbozu commented on #17
I did manage to get it to work after disabling OCP and grabbing a 510Ω resistor. The constant current routine needs some love still My results not consistent. However I feel this may be to the voltage sag associated with the lack of PID or what ever we are missing there. Then the in accuracy of the routines.

I personally agree that #65 is the way it should be as well FWIW

[2019-01-03 17:53] Xenoamor commented on #17
The only known voltage sag is due to the issue in #7 which won't be fixed by a PID. This is because the ADC value for the voltage is effectively wrong so there's no way to adjust for this until that issue is resolved. Once you have calibrated the open circuit output voltage using this routine you shouldn't see any discrepancy between the voltage set on the display and the voltage that is read back

[2019-01-03 18:00] Xenoamor commented on #17
Heres the DPS5005 in CV mode with an output of 10V set:
![image](https://user-images.githubusercontent.com/7109951/50653435-6ae37480-0f81-11e9-975e-89f85e086a57.png)
The top meter is reading 0.70A and the bottom meter is reading 9.997V

[2019-01-03 23:27] Xenoamor opened #70 "Can set output voltage higher than possible output"
Is the change made to solve #52 correct? It seems like we want to limit the settable output to what the device can actually output so around 90-95% of the input voltage

[2019-01-03 23:33] Xenoamor opened #71 "Missing input voltage on display"
I seem to be missing the values after the decimal point on my display for the input voltage
This is contrary to what I see on my current development work so I think when the font changes were pulled into this repo something got messed up. Looking closely it looks like the decimal point has shifted and is taking up too much room?

This version
![image](https://user-images.githubusercontent.com/7109

[2019-01-03 23:34] kanflo commented on #70
Ah, the max output voltage for CV should be set here: https://github.com/kanflo/opendps/blob/24ccfcc0b94cee5c165de112591e8eb8a6b5cbc1/opendps/func_cv.c#L288

[2019-01-04 15:20] Xenoamor commented on #60
Scratch that I managed to create an upstream master branch that follows this one and I can now branch from that

[2019-01-04 15:30] #71 closed

[2019-01-04 21:56] #69 closed

[2019-01-04 21:57] #60 closed

[2019-01-04 22:41] #70 closed

[2019-01-05 20:47] Xenoamor commented on #65
It's interesting to see that @jimmyw has reached the same conclusion with his commits [one](https://github.com/jimmyw/opendps/commit/a15d7dd058195bf393c0d7c13fa89c4457da7f63) and [two](https://github.com/jimmyw/opendps/commit/c139a538bca77ddbe1e599ebc57b85e8e014861e)

[2019-01-06 11:43] Xenoamor opened #80 "number_draw() could be improved to handle any font"
There are a lot of magic numbers in number_draw() that could be removed to allow for better rendering of all fonts. The widest glyph could be determined by the font generator in #79.

https://github.com/kanflo/opendps/blob/507da617981f2bfcc4cb33ded8c4db5a4e1a4a8a/opendps/uui_number.c#L111-L164

I'm happy to work on this once we have some of the outstanding font pull requests merged in

[2019-01-06 13:04] Xenoamor opened #81 "Python dpsctl incompatibility with windows"
When running the following on completion I get the following error:

[code]

[2019-01-06 13:08] Xenoamor commented on #65
Okay this is quite easily possible but we'd have to remove the CC mode and perhaps rename the CV mode to main display or something. It would render the multiple screen functionality a bit redundant for the moment although I definitely see us adding in a settings screen at some point so we shouldn't remove it

What's your thoughts on this @kanflo? I'm happy to make a pull request for it but there w

[2019-01-06 15:36] jimmyw commented on #65
I think @Xenoamor is on to something here!

Did you check my layout that have all four (set voltage, set current, measured voltage, measured current) all in the same screen? Really think its the most simple ui possible, and wont hide anything. Adding a symbol that displays when the PSU switches from CV to CC mode would also be great, but if you se the set and measured voltage next to each one, its

[2019-01-06 17:56] Xenoamor commented on #65
You wouldn't happen to have a picture of it would you? I'm away from my device at the moment

I must admit I only got this device because I knew OpenDPS had a much more minimal display then the stock firmware. I'll make a mock up of what I'd personally like it to be when I'm back

[2019-01-06 18:38] makefu commented on #68
Hey @Xenoamor , i wrote a teardown of the DPS8005 in my personal blog: https://euer.krebsco.de/teardown-and-disassembly-of-the-dps8005.html . I really hope this helps with adding support for the DPS8005!

cheers

[2019-01-06 20:04] Xenoamor commented on #68
Oh. Well now this looks very very similar to the [DPS3003 schematic](https://github.com/kanflo/opendps/blob/master/hardware/reverse-engineering/dps3003/DPS3003.pdf).
It's all based around the TLC594 PWM controller. It also uses the same SGM8582 dual opamp. They seem to have changed the 3.3V regulator from a M5333B to a HT7133-1. And it looks like the constant current output load is the same LM321

[2019-01-06 20:12] Xenoamor commented on #68
That D0 LED on the back of the mainboard looks interesting. I wonder if that is some sort of output load

[2019-01-06 20:57] #81 closed

[2019-01-06 21:06] kanflo commented on #80
Sounds great, I will have a look at the font PRs in the coming week.

[2019-01-06 22:17] makefu commented on #68
@Xenoamor I am unable to test the connectivity right now but i will try to to this tomorrow. The "failure" was that i essentially got some rough voltage measurement working on the display by tweaking some of the values but i was unable to actually set the output value. I am unsure if it is related to the ADC and DCA values not being correct or because of some internals working differently on the D

[2019-01-06 22:47] makefu commented on #68
@kanflo @Xenoamor i will try this as soon as i have soldered everything together :) I think i tried changing some registers but i was not seeing any changes, however i could be wrong here. When i initially dumped the registers from the original firmware i was not seeing any changes in `DAC_DHR12R1` but maybe i did something wrong and was not enabling the port correctly, however i am pretty sure th

[2019-01-06 22:53] Xenoamor commented on #68
I do actually have something in my master branch that allows this which we called a "calibration report" This is part of the work for #17. It effectively gives the following:
[code]

[2019-01-06 23:15] Xenoamor opened #86 "Missing break;"
https://github.com/kanflo/opendps/blob/c4e3b4aa55767f4c97104fd76dcc50f7c188d2e4/opendps/protocol_handler.c#L421-L423

I missed off the break; ...

[2019-01-06 23:33] makefu commented on #68
@Xenoamor will do once i put the dps8005 together again, thanks for your help!

[2019-01-07 01:00] tzarc commented on #65
Or, perhaps we pivot with the coloured fonts, and show limited outputs as orange or something instead?

[2019-01-07 05:47] tzarc opened #88 "Need a debounce on buttons"
Sometimes hitting power button doesn't register, and it flips itself back on or off if it happens too quickly.

[2019-01-07 10:07] Xenoamor commented on #88
I'm surprised I haven't seen this issue myself. Although thinking you've turned the device off and haven't can be dangerous
[I'm not seeing any debouncing](https://github.com/kanflo/opendps/blob/c4e3b4aa55767f4c97104fd76dcc50f7c188d2e4/opendps/hw.c#L728-L739) but this should be an easy addition

[2019-01-07 10:32] Xenoamor commented on #45
I've noticed Travis CI is free and fairly easy to integrate with Github. They run the server for you as well so you don't even need to setup your own server

[2019-01-07 10:44] Xenoamor commented on #65
I think our best option is to remove func_cv.c/h and func_cc.c/h and make a new pair of files called screen_main.c/h. This new screen will have the new combined mode in and would/should be easy to change and switch out for anyone who wants a custom display
@kanflo has already laid a great framework with his uui work so this should be easy to do

[2019-01-07 15:47] jimmyw commented on #65
I vote for keeping the screens option, but keeping the functionally the same.

So of some one wants the measure in watts, then can change to that screen, if some one wants in amps, thats good too. If someone wants in color, that could also be a screen.

The only reason for keeping CV mode, is if you like the PSU to shutdown when reaching the limit instead of limiting the amperage. I can se a useca

[2019-01-07 15:48] jimmyw commented on #65
@Xenoamor I don't have any screenshot, but i can try take a photo when i get home after work.

[2019-01-07 15:48] tzarc commented on #65
There's also the invariable future screen for charging LiPo batteries and the like, too. _Someone_ will do that, surely ;)

[2019-01-07 16:15] jimmyw commented on #65
Oh, yes! A lipo charger, with a bar that shows percentage, and estimated time to full. :)

[2019-01-07 16:23] Xenoamor commented on #65
I not only intend to use it for charging batteries but also for emulating batteries, although this might be done by a python script.

We can certainly keep the CV screen and have a merged screen but it might be a bit difficult to tell which one you are currently on.. Maybe we could implement a way to switch the current or value to a hard limit which switched the device off if reached? Perhaps whil

[2019-01-07 20:15] Xenoamor commented on #88
I can't actually reproduce this but it would be good belt and braces to implement it anyway

[2019-01-07 21:20] kanflo commented on #88
There ought to be debouncing. I take some shame in that there isn't ;)

[2019-01-07 21:47] Xenoamor commented on #65
Yeah see this is the issue...
I can fairly easily add in a third screen for the combined mode but it won't be very clear if you're on CC, CV or the merged mode. I guess we could make a new logo for it?

[2019-01-07 21:48] kanflo commented on #45
Thanks @Xenoamor, I will definitely have a look.

[2019-01-07 22:15] Xenoamor commented on #68
Just a heads up this is now in the master branch. Good luck!

[2019-01-07 22:40] tzarc commented on #65
This is @jimmyw's layout, for reference:
![image](https://user-images.githubusercontent.com/2985843/50797574-5c9eab00-1329-11e9-9421-13139071e5a4.png)

[2019-01-07 23:03] Xenoamor commented on #65
That case is really rather awesome. I think we could use the screen space a bit better though. I've noticed on the official firmware that the text actually touches the edges

[2019-01-07 23:05] jimmyw commented on #65
@tzarc Seems a little buggy :) Both the display and overshoot on the amps 😱

[2019-01-08 23:29] Xenoamor opened #91 "Allow fonts of arbitrary sizes"
Renaming the fonts 48, 24 and 18 to large, medium and small would allow us to support more fonts. We would have to come up with a way to also pass the font_size of each into generate_font.py

[2019-01-09 09:19] Xenoamor commented on #65
I think I'm going to add this in as a third screen so people can play around with it and see how they feel about it

[2019-01-09 09:32] Xenoamor opened #92 "Merge gfx-convert.sh and generate_font.py"
Merging gfx-convert.sh into generate_font.py would allow one python file to generate all the relevant lookup tables for the fonts as well as graphics.

We could change the -f option of generate_font.py to support both images or fonts. It will then handle both differently and output a lookup table with the name specified in the option -o

[2019-01-09 09:57] Xenoamor commented on #91
I think the best way to do this is to run the script three times like so:
[code]
I'm not too sure how this will feed into the makefile though

[2019-01-10 00:08] Xenoamor commented on #92
I'll work on this after the merge of #93

[2019-01-10 21:19] #91 closed

[2019-01-11 11:14] tzarc commented on #88
The reason you've not been seeing it might actually be because the colour logic takes a bit of extra time to apply the masking -- will give it a try back with the unmodified white colours to see if it's related.

Tends to happen relatively frequently though -- I can sit there for 2 mins toggling and it'll happen 5 or 6 times.

[2019-01-11 11:17] tzarc opened #95 "Test if glyphs and icons can be converted to 4bpp mono"
Check to see if we can relatively easily use 4bpp mono and do runtime conversion to the bgr565 format for each of the glyphs. A lot of flash space is currently being taken up by fonts, and converting to a 4bpp would be a ~75% size reduction.

More of a note for myself... unless someone else wants to tackle it.

Waiting for #93 and #94 to land before attempting it in earnest.

[2019-01-11 11:17] Xenoamor commented on #88
Don't worry about reproducing it. It should definitely be in there either way

[2019-01-11 11:19] tzarc commented on #88
Oh I'm not worried. Just point out that there may be a reason I'm seeing it a bit more often than others.
I'd imagine the same problem occurs with the other buttons, I just don't muck about with them as often as I do with the power one.

Will have a play to see if I can confirm/deny, at any rate. More testing = more robust software, right? :)

[2019-01-11 11:22] Xenoamor commented on #95
I think only using this on fonts and not the logos would be good. That way people can still use multi-coloured images but only single coloured fonts which is an acceptable compromise in my opinion

Waiting for #94 would be a good idea as this brings a lot of changes to how the glphy generator works and there would be a sea of conflicts otherwise

I was going to work on #80 later today but I don't

[2019-01-11 11:36] tzarc commented on #95
Fair point. That said, I still think generating the logos like power button and thermometer etc. using FontAwesome would simplify a lot of things, though.

[2019-01-11 11:41] Xenoamor commented on #95
I'm not familiar with FontAwesome, what benefits would this have over the png/bmp/gif solution in #94?

[2019-01-11 12:18] #92 closed

[2019-01-11 13:17] tzarc commented on #95
Simplicity, really.

This was the "font" I'd used for the icons back for my early revs of the coloured fonts PR, for example:
https://github.com/tzarc/opendps-font/blob/master/icons.png

I just figure that they're "standardised" icons in a well-known open source set of glyphs, so rather than do things different we could leverage existing tried and true imagery.

[2019-01-11 14:08] Xenoamor commented on #95
I guess that might be simpler for actually getting the graphics icons but it does limit them to being block colours. I'm not sure it would work for the splashscreen either

[2019-01-12 00:25] Xenoamor opened #96 "ili9163c_draw_pixel x and y are wrong"
For some reason to get a white dot in each corner pixel of the screen I have to use:
[code]

I had to remove the bounds checking in `ili9163c_draw_pixel` function:
[code]
To allow me to draw "out of bounds"

[2019-01-12 00:35] Xenoamor commented on #96
Adding these offsets into `ili9163c_set_window` fix it
[code]

... weird. I'm not too comfortable just changing this for the sake of it. I'll experiment some more

[2019-01-12 00:58] Xenoamor commented on #96
Nope.. that certainly seems to be the case. Can someone else test their device to check?

[2019-01-13 14:18] Xenoamor opened #99 "Graphing screen"
It could be interesting to have a graphing screen. Something like this:
![graph_dot](https://user-images.githubusercontent.com/7109951/51086372-1d63c600-173e-11e9-9b32-db6b4972782f.png)
![graph_vector](https://user-images.githubusercontent.com/7109951/51086373-1dfc5c80-173e-11e9-838b-85b3bd8ef187.png)

[2019-01-13 14:21] nmaas87 opened #100 "DPS5005 Brick"
Hello, I tried to update my newer version DPS5005 (the one with the smaller swd interface). I installed everything on a Raspberry Pi 3, got the connection working and halt and erased the memory like described.
However, the error persisted and even after shutting down the DPS and reconnecting, trying again, I got this error:

[code]

I cannot erase the memory, but the main program is gone, so nothi

[2019-01-13 16:50] Xenoamor commented on #100
I'm not familiar with OpenOCD as I use JLink but can you [give this a try](https://community.particle.io/t/stm32x-device-protected-error-on-electron-with-openocd/23900/2)?

[2019-01-13 19:56] nmaas87 commented on #100
Thank you, I got it flashed now.

I tried a lot:
https://community.arm.com/iot/embedded/b/embedded-blog/posts/unlocking-the-stm32f4-discovery-board-with-openocd
https://sourceforge.net/p/openocd/mailman/openocd-devel/thread/20141226001106204055.1d9b1832%40gpio.dk/
https://www.brobwind.com/archives/1139
Something of that must have gotten it working in the end...

However, now the calibration is ver

[2019-01-13 20:51] Xenoamor opened #101 "Issuing a lot of calibration coefficients at once fails"
If you try to issue too many calibration coefficients in one go the device fails to respond. I assume this is due to some max string length issue. This could either be fixed by the python tool splitting it up or the OpenDPS firmware permitting bigger strings

[code]

[2019-01-13 20:54] Xenoamor commented on #100
Okay this is how to set my coefficients:

[code]

They need to be split like this due to a bug I've just found #101

If this really messes up your device you can reset them with:
`% python dpsctl.py --calibration_reset`

[2019-01-13 21:03] Xenoamor commented on #17
Okay I've been thinking about this and I think what we need is a way of directly setting the DAC values and then working out the calibration coefficients from this directly. This current method relies on the default coefficients being in the right ballpark which is not great if it's a new model or a new hardware build.

This would be tricky however as you'd have to tell the calibration routine whe

[2019-01-13 22:44] tzarc commented on #96
Busy weekend; will confirm this evening.

[2019-01-13 23:59] Xenoamor opened #102 "ADC interrupt improvement"
The ADC can be configured to read all three analogue channels in turn and then generate one single IRQ. This would reduce the interrupt overheads

I did have this working using the STM32 LL which can be found in [my repository](https://github.com/Xenoamor/CustomDPS5005/blob/7bf454e2ddc84b397a4ba4095e2e33f788d4661f/Src/adc.c#L22)

[2019-01-14 00:02] Xenoamor commented on #102
Woops. Just realised this is already in!

[2019-01-14 00:02] #102 closed

[2019-01-14 03:18] geekbozu commented on #101
I probably should have mentioned this, My apologies.
The issue comes from a string limitation on the receiving code size. It parses out the string DPS side and only has so much memory allocated to the string buffer. The quick solution to this is to separate it out inside the python code. Handling this should probably be done in the communications portion where is processes the supplied arguments s

[2019-01-14 03:21] geekbozu commented on #17
I see no reason why the resistive load would not be "accurate" afaik that is the NIST standard, Just using HIGH power High tolerance resistors.

I agree having it handle DAC values would be better. Definitely going to ponder this! I think I would like CC/CV modes merged first however. I feel like that holds this unit back quite a bit.

also apologies for like vanishing. Life has gotten a bit hecti

[2019-01-14 08:19] nmaas87 commented on #100
Thank you very much for your help :)!
Could you point me on how to calculate the correct coefficients?
At the moment it would be most important for me to get the output voltage correctly (so that a) the DPS displays the correct output voltage and does also output the correct one ;))
Thank you very much :)!

[2019-01-14 08:59] Xenoamor commented on #101
Thanks for the information @geekbozu this makes sense. I'm going to be doing some work on `dpsctl.py` for #100 so I'll sort this out afterwards as it's fairly minor

[2019-01-14 08:59] Xenoamor commented on #100
Hi @nmaas87. I'll make implementing this my top priority
The voltage calibration work is fairly easy to put in so I don't imagine this will take long and I'll have something by the end of the day

[2019-01-14 10:55] Xenoamor opened #103 "Calibration/Debug Screen"
Extend `dpsctl.py -c` to allow setting the DACs like so `dpsctl.py -c VOUT_DAC=10 `

This would be a useful addition to working towards completing #17

[2019-01-14 10:59] Xenoamor commented on #17
That's a good point. I think I'm worrying needlessly and when it worked for me it worked well.

I'll work on the DAC stuff which I've now labelled as #103 and then get an input and output voltage calibration routine implemented. I'd merge CC/CV modes like you said but I'd rather sort this out now for #100.

Don't worry about being around too much, we're all working on this for fun so feel free to

[2019-01-14 11:07] Xenoamor commented on #103
This could actually be done by creating a new UUI screen called `func_calibration.c`. This might be a better way of doing it as then we could use `dpsctl.py p VOUT_DAC=10`. This is also good as we can stop the screen "updating" the DAC values

[2019-01-14 22:30] kanflo commented on #99
Yup, and a function generator ;)

[2019-01-14 22:37] kanflo commented on #95
It would be interesting to see the performance penalty of going to 4bpp

[2019-01-14 22:39] kanflo commented on #96
That's odd, I will give it a try tomorrow. Unrelated, I have been thinking of a screen shot function.

[2019-01-14 23:09] Xenoamor commented on #96
That would be a really neat way of showing off custom graphics/fonts. (_and save me having to take pictures under magnifiers_)

[2019-01-14 23:21] Xenoamor commented on #103
Yes this would be a neat idea. I was thinking ideally it would be some _hidden_ screen accessed either by a special button combination or only from the python tools.

I have started on this currently, it doesn't look like much but the top number is the vout_dac and the bottom is the iout_dac (both at their maximum 4095 values). Now I'm hitting a lot of hard limitations with the `uui_number.c` impl

[2019-01-14 23:37] Xenoamor commented on #100
@nmaas87 I've wildly underestimated the amount of time this is going to take me. If you'd like to get your hands dirty I did make [a calibration routine over here](https://github.com/Xenoamor/opendps/blob/adbd69af11f66b9347dc27b3d2e50535e2ae5bfc/dpsctl/dpsctl.py#L551) and you'd likely be able to figure out from that how the constants are calculated if you did want to work them out manually

[2019-01-15 14:39] serialx opened #104 "DPS5005 v2.3 Voltage Offset"
First, awesome project! Thank you! :)

I've upgraded my DPS5005 to OpenDPS according to the blog post. I'm seeing some voltage difference between what I set and what actually delivers.

DPS5005 Version (in the silkscreen): V2.3
CV Voltage set: 5.00 V
DPS5005 display shows: 4.73 V
My multimeter shows: 4.673 V

What could be the problem?

Dump of peripheral settings before reflash:

[4V-off.txt](htt

[2019-01-15 16:45] Xenoamor commented on #104
We're currently working on this for #17

[2019-01-15 19:15] nmaas87 commented on #100
@Xenoamor Thank you very much for your hint, I was able to do the Vin and Vout calibration :)! It worked quite well, so here is my little write up for people who might follow:

[code]

I still would need to do the current calibration, but did not got time so far :/

[2019-01-15 20:02] Xenoamor commented on #100
Thanks for the in-depth write-up @nmaas87! It's interesting to see that your calibration settings are so far from mine. There must be quite a few variants of the hardware floating about

[2019-01-15 20:24] kanflo commented on #104
First, thank _you_ :)

I will mark this as a duplicate of #17.

[2019-01-15 20:25] #104 closed

[2019-01-15 20:36] Xenoamor opened #105 "Changing between screens does not clear the previous screen"
Changing between screens with different layouts leaves what was previously drawn on the screen in the background. I could be wrong about this but I believe this would be because we aren't filling the screen with black when we cycle between them

[2019-01-15 20:43] Xenoamor commented on #103
This makes perfect sense to me. I don't think we should use the screen set and get parameter functions that we currently have though as it doesn't really make sense from the python tools to have to change to the settings screen to a) list the available settings and b) change those settings. I think we should make two new python functions:
%dpsctl.py -S // Lists the available settings
%dpsctl.py -s

[2019-01-15 21:24] kanflo commented on #96
Hmm, definitely something going on here. I added this to `main_ui_tick()`

[code]
producing this:

![image](https://user-images.githubusercontent.com/931076/51210790-f3fc9300-1913-11e9-9f8c-06aac9a7a2a8.png)

(sorry for the dust ;)

Long pressing SET inverts the display and reveals things are off:

![image](https://user-images.githubusercontent.com/931076/51210847-168eac00-1914-11e9-88b2-2bb3d33b6

[2019-01-15 21:43] Xenoamor commented on #96
Did you apply this change?

[2019-01-16 08:36] nmaas87 commented on #100
Seems to be like that :). I will monitor #17 and will try auto calibration - especially for current in CV mode as soon as it becomes available :). Thanks a lot for your help, I will close this issue.

[2019-01-16 08:36] #100 closed

[2019-01-16 19:51] kanflo commented on #105
Ah, I recall that one. Originally it was intentional to reduce flicker when changing between the CV/CC functions as they both drew the same information in the same place.

[2019-01-16 19:55] kanflo commented on #103
Ideally, when `func_ui` is hidden, it's screen tick functions should not get called, but rather those of the upcoming `settings_ui`.

[2019-01-16 20:03] kanflo commented on #96
Bummer! Forgot about that one, will test again.

[2019-01-16 20:20] kanflo commented on #96
Without the bounds checking, I get the expected bounding box at the edges of the screen with the code I posted above (the "Doesn't appear" lines). I guess the ILI9163 driver needs fixing.

[2019-01-16 20:25] kanflo commented on #96
Defining this one instead:

https://github.com/kanflo/opendps/blob/cf5e5943db4ac5ff9f7e531cd1b4e430b1d3e0a4/opendps/ili9163c_settings.h#L7

and adding x offset 3 and y offset 2 to

https://github.com/kanflo/opendps/blob/cf5e5943db4ac5ff9f7e531cd1b4e430b1d3e0a4/opendps/ili9163c.c#L258

does the trick. Normally I would prefer to study the data sheet for the display though...

[2019-01-16 22:36] Xenoamor commented on #105
Hmmm.. you're right. It's not very pretty to look at when it is blanking the screen. We're kind of throttled by the maximum SPI frequency

For what it's worth the original DPS firmware also has this issue although it looks like they render the next screen first and then display it. I wonder if the TFT has a command for blanking it's content. Or it might even be faster to just reset it and re-init

[2019-01-17 17:15] Xenoamor commented on #95
I'm starting to think this could be really useful as we could do with a full/partial alphabet for things like the settings page. We'd likely only need this in small or medium though

[2019-01-17 22:56] kanflo commented on #103
Looks nice! I got an email tonight that go me thinking. The question was raised if it was possible to deduct the calibration data from the original firmware using ocd-client.py. I am thinking it should (after all that's what I did in the beginning of this project :). Should we perhaps work on calculating the calibration data from the ocd-client.py dump files and feeding it to the device? It would

[2019-01-18 00:05] Xenoamor commented on #103
That's a really nice idea. Yes we absolutely could do it. We'd have to have either the user read off the information or use the official firmware serial communication

[2019-01-18 01:50] tzarc commented on #95
Honestly, I think we're going to require 1bpp for a full font -- for the number of glyphs required, even if it's scaled down to [a-zA-Z0-9+-] etc. 4bpp will still be a large amount of flash space used up.
The decode stage will take longer (should be similar to the colours, and is _probably_ why debounce is way more noticeable for me) -- but it might be unavoidable if we need full support.

I think

[2019-01-18 13:13] Xenoamor opened #109 "Extend ocd-client.py to fetch factory programmed calibration coefficients"
As discussed in #103 a method of fetching/retrieving the calibration coefficients from the original DPS firmware would be very useful

[2019-01-18 15:54] kanflo commented on #109
[Here](https://docs.google.com/spreadsheets/d/1AhGsU_gvZjqZyr2ZYrnkz6BeUqMquzh9UNYoTqy_Zp4/edit?usp=sharing) is the google sheet I used when reverse engineering my very first DPS5005. Dialling in a few voltages and reading the DAC setting will give us the voltage coefficients but of course one will need a few resistors to get the current coefficients.

[2019-01-18 19:16] Xenoamor commented on #109
Could you not just short the output terminals and current limit it?

[2019-01-19 00:00] ajdalshov commented on #17
Interesting. Could you please elaborate on how you got the values from the dumps? I'd love to do the same with my dumps I made prior to flashing. Thanks. :)

[2019-01-19 00:05] Xenoamor opened #110 "Variables should be volatile"
Shouldn't these be volatile?

https://github.com/kanflo/opendps/blob/c3ac503c18c4c225714836de6dddef3f1245f622/opendps/hw.c#L77-L82

[2019-01-20 12:56] kanflo commented on #109
That could work for lower currents. I think I have a stock DPS somewhere, I'll try it.

[2019-01-20 16:43] DavidMez commented on #109
I have a stock DPS5015 and an oscilloscope. what do you need?

[2019-01-20 18:33] nmaas87 opened #111 "Overvoltage limit in CV?"
Good evening,

I did successfully calibrate my DPS5005 with a 30V powersource and precision multimeter. At home, I plugged in the correct powersource, a 48V plugpack / powerbrick. The DPS did work kind of sluggish, did not react to inputs and turned its screen white. Looks like some kind of Overvoltage protection. Using it with a 20V powerbrick works. I did actually use the 48V always with my DPS

[2019-01-20 18:41] Xenoamor commented on #111
There is no overvoltage limit for the input voltage.
There is however a current limit that when reached will flash the screen white and disable the output. This is the A setting on the CV screen. If your calibration coeffecients are off for your current this could cause issues that trigger this

Also see issue #6 which also plays a factor in this

[2019-01-20 18:54] nmaas87 commented on #111
Ok I was dumb, sorry! I just saw I still had the USB Dongle attached to the Unit, without the USB Dongle attached to a PC, just floating. It probably pulled the TTL lines low and glitched the Unit... As soon as I deattached it, it worked. Sorry. I came to the conclusion as soon as I realised it did not flash the WIFI Icon upon boot anymore and just hung - without reacting to any input - just then

[2019-01-20 18:55] Xenoamor commented on #111
That's odd... which USB dongle is this?

[2019-01-20 18:58] #111 closed

[2019-01-25 22:03] coffinshaker opened #112 "cannot set voltage remotely via serial port"
When I remotely run the command to set voltage it returns "ok" but nothing changes. Shouldn't there be a line like this:

`cv_voltage.value = ivalue;`

just before calling the following function in line 162 in file `func_cv.c`:

`voltage_changed(&cv_voltage);`

or is there a reason the voltage cannot be changed this way?

[2019-01-26 07:53] kanflo commented on #112
Hmm, I will try to reproduce (and fix ;) that this weekend. Thanks for reporting!

[2019-01-26 12:11] Xenoamor commented on #112
Well spotted @coffinshaker!

[2019-01-26 14:37] Xenoamor commented on #103
Hmm, I'm having a hard time figuring out what commands to have for this from the dpsctl.py tool. Any ideas?

[2019-01-26 20:46] #112 closed

[2019-01-26 20:48] kanflo commented on #112
Reminds me that I need to build an automated test environment in my basement :)

[2019-01-26 20:51] kanflo commented on #103
How about a switch to jump to and from a "settings mode" and when there, the settings mode has "functions" similar to CV and CC?

[2019-01-26 22:30] Xenoamor commented on #103
And share the current -F -f -P -p commands? That would be an easy change for sure

[2019-01-26 22:55] kanflo commented on #103
Yes, sharing -F and friends will fit quite well I think.

[2019-01-29 13:00] tzarc commented on #95
Added a PR for 4bpp fonts -- flash size seems to drop by just over 13k.
I'd imagine it's far more feasible now to look at an entire alphabet's worth of glyphs, but I think it's still going to be required that we do 1bpp or something similar. 2bpp could potentially give us a 256*uint64_t lookup table, so 2K flash for a 2bpp font, assuming we don't need anything more than 3 levels of grey.

Will pro

[2019-01-29 13:31] tzarc commented on #95
2bpp shows very little difference on-screen, but further reduces the flash size down by 14.5k.
Changed the PR to use packed 2bpp instead.

[2019-01-30 12:51] tzarc commented on #103
Just for future reference I guess, I generated an ascii-capable font using the 2bpp fonts branch:
https://github.com/tzarc/opendps/blob/2bpp-fonts%2Basciifont/opendps/font-settings.c

Used a bitmap font for it, brings it down to about 2k flash space for the entire font including metrics.

[2019-01-30 12:57] Xenoamor commented on #103
This is awesome. I guess we should hold off on this until #116 is merged in as currently this screen is unreadable. 2k is really a small price to pay as we can use this font for all sorts of things including this

[2019-01-30 22:24] tzarc commented on #95
Thanks for the merge!

Given the significant flash space saving by just doing the fonts, I think there's less relevance to giving images the same treatment. We don't use a lot of them, and they're potentially not monochrome.

We can always revisit images in the future, if flash usage still needs to be addressed.

Closing, will open a new one for images if/when we need it.

[2019-01-30 22:24] #95 closed

[2019-01-30 22:58] kanflo commented on #95
As I see it the biggest advantage is that adding new icons will be a breeze. I probably spent an hour on the darn thermometer icon in photoshop ;)

[2019-02-04 22:15] kanflo commented on #109
@DavidMez Thanks, I should try shortening the terminals in CC mode on my own DPS first since I am not sure about the survivability ;)

[2019-02-05 11:39] Xenoamor commented on #109
In _theory_ it should be fine. I'm happy to try it when I get home after work today for you, I have one with stock firmware one

[2019-02-07 21:20] #103 closed

[2019-02-07 21:33] kanflo commented on #80
I noticed this one was actually fixed some time ago.

[2019-02-07 21:33] #80 closed

[2019-02-10 05:32] fake-name opened #119 "Is there any way to make power-state persist across resets?"
Basically, I have a use-case for some DPS units in a context where they'd be set to a voltage, and then just left as-is, with some occasional tuning.

Basically, I need the output to resume the last state it was in after a power cycle. If the output was on, it should be on when reset. If it was off, it should be off after reset.

I must admit I kind of assumed this was already possible, but either

[2019-02-10 13:01] Xenoamor commented on #119
You absolutely can configure the DPS without a serial connection. In most cases this is how it is used however other then voltage/current there are no other settings options (ignoring the WIP #103 #114)

It's unlikely we have considered remembering the devices output state. We do preserve the output voltage/current settings between power cycles but not if the output is on or not. This is the same

[2019-02-10 21:55] kanflo commented on #119
As @Xenoamor says this is not a use case that has been considered. It would only require a few changes and an additional build flag for enabling the mode. Pull requests are always welcome and you seem to have the proficiency to pull this off ;)

[2019-02-10 22:33] Xenoamor commented on #119
I'd say this would be a nice candidate for a new settings screen but I think it might be a bit dangerous in case someone turns it on by accident

[2019-02-10 22:34] Xenoamor opened #121 "Implement a quiet mode in dpsctl.py for communicate()"
Currently using the communicate() command in dpsctl.py generates a lot of serial output in calibration mode. E.g.
[code]

Extending the communicate() command to allow the suppression of these would help clean things up

[2019-02-10 22:53] fake-name commented on #119
The stock firmware (at least the one I had) could be configured to load a preset on startup that included the output state (which is what I basically needed).

I'd be interested in helping, but only if I can switch to C++. The source for how the GUI works right now is damn near impenetrable.

------

Other stuff that'd be nice:
 - Soft limits on max voltage/current. Basically, some way to limit th

[2019-02-12 20:51] Xenoamor commented on #119
C++ would be better suited for the GUI for sure. Currently it's effectively a C implementation of classes that is used
I'm not sure if using a small amount of C++ is a good idea though, honestly I have no idea. Do you know any example projects that use C++ for embedded? I've been personally considering the switch for ages (not for OpenDPS per se)

[2019-02-12 22:12] tzarc commented on #119
Every Arduino project, for example, is C++.... even if it doesn't look like it at face value. I've used it almost exclusively for embedded stuff I've worked on in the last decade. That said, I have this weird recollection that @kanflo would prefer to keep it written in C (I had a quick look and can't remember where I saw it, so I could be imagining it).

Anyways, as far as the issue is concerned -

[2019-02-12 22:31] kanflo commented on #119
C++ offers a lot of attractive abstraction and encapsulation that is cumbersome to implement in C. I haven't coded C++ since the late 90s which is why I went for C in this project, and would like to keep it that way. A full rewrite in C++ could be nice but mixing in C++ would just look odd. I cannot recall speaking out on this topic though so your "weird recollection" @tzarc is more like mind read

[2019-02-12 22:36] #121 closed

[2019-02-12 22:59] Xenoamor commented on #100
@nmaas87 #120 and #122 should be of interest to you

[2019-02-12 23:09] Xenoamor commented on #99
This might be a bit tricky with the real estate that the icons and input voltage use. Any ideas?
We could move some of those drawing tasks into the screens themselves.

It does seem a bit strange to have an icon or the input voltage on the settings screens

[2019-02-12 23:19] Xenoamor commented on #41
I'll have a look at implementing this soon.
I think adding a `handle_ovp()` function into the `adc1_2_isr` would be the best way to do this. This limit can then be set with `pwrctl_set_vlimit()`

[2019-02-13 14:43] Xenoamor opened #126 "Now redundant start up current ADC zeroing"
Is the following code still necessary?
https://github.com/kanflo/opendps/blob/bc665f3840c12b66808b7b3f871b2935865f60a9/opendps/hw.c#L279-L289

I have the impression that this is now not needed as any device calibration should account for this. It also causes the ADC to return values that aren't "true" and may differ on each startup

[2019-02-13 14:49] Xenoamor commented on #126
In my opinion this is how the ADC ISR should look:
[code]

[2019-02-13 15:39] Xenoamor commented on #126
Also what is `ADC_CHA_IOUT_GOLDEN_VALUE` used for?

[2019-02-17 20:01] #110 closed

[2019-02-17 20:08] #96 closed

[2019-02-17 20:47] #65 closed

[2019-02-17 20:52] #41 closed

[2019-02-17 20:59] kanflo commented on #126
We could try to remove ``STARTUP_SKIP_COUNT``but reading the old comments (glad I wrote 'em) I am thinking we might still need them. My first DPS was actually calibrated but still required the ADC zeroing as I saw quite a current surge when the output was enabled. OTH there has been lots of HW improvements on the DPS:es so this might not be needed anymore. If removed though, I will try on my older

[2019-02-17 21:00] kanflo commented on #126
``ADC_CHA_IOUT_GOLDEN_VALUE``is definitely obsolete now that we have proper calibration.

[2019-02-17 21:09] kanflo opened #128 "Implement crash dump"
Getting "timeout talking to device" is quite a drag when we could have gotten something more verbose such as "sorry, but your DPS crashed at 0x12345678 and rebooted" with some registers.

When the app crashes it should write a crash dump into the bootcom area (which need to increase). Upon restart, the app should make this dump available to dpsctl. Here is a copy-and-pasteable fault handler: https

[2019-02-17 21:10] kanflo commented on #109
Update: shortening terminals does not seem to elect new popes :)

[2019-02-17 21:15] kanflo commented on #20
Impressive attempt never the less @gnbl. Did you make any progress?

[2019-02-18 01:31] gnbl commented on #20
No, I did not spend any more time on this.
I assume that "our" F100 is not vulnerable, as suggested by the original authors.
In addition, I think this project already did a great job with reverse-engineering, so the time that would have to be spent on disassembling and understanding the original firmware is better used for work on opendps. But of course this is an interesting subject and it would

[2019-02-18 09:59] Xenoamor commented on #126
Okay this makes sense. There's no real downside to leaving a lot of this code in there. Although removing `ADC_CHA_IOUT_GOLDEN_VALUE` does make sense now

[2019-02-18 10:54] Xenoamor opened #129 "Powering off DPS in the calibration routine causes it to fail"
This is a bug pertaining to the calibration routine discovered in #120.

I tested it by using a variable power supply as the input of my DPS5005. However, if the user wishes to use two fixed input voltages for calibration this would require them to power down the DPS.

I suspect that the python calibration routine does not account for this. I should be able to reproduce this quite easily and fix i

[2019-02-19 17:13] DavidMez commented on #50
Is it safe to work with DPS5015 now?

[2019-02-19 18:38] Xenoamor opened #130 "Improve calibration gradient detection algorithm"
The current gradient detection algorithm does not work correctly in a noisy environment:
![image](https://user-images.githubusercontent.com/7109951/53038781-76c5c000-3475-11e9-9bc8-18ded9071039.png)

This should be improved to prevent incorrect calibration

[2019-02-19 20:57] Xenoamor opened #131 "Add calibration routine information to README"

[2019-02-20 07:17] bhuism opened #132 "DPS5005 black screen when firmware is compiled with gcc 7.3.0"
My DPS5005 will not start, so it seems, just a black screen, when the firmware is compiled with gcc 7.3.0. It does work with the awesome docker build script.

[2019-02-20 11:56] Xenoamor commented on #132
Hmm.. that's interesting
Perhaps this a good chance to get Travis running and have it add releases to the github page

[2019-02-20 12:01] Xenoamor opened #133 "Add compile time flag for disabling CV screen"
This would be handy for those of us who only want the merged screen

[2019-02-20 14:34] gh7531 opened #134 "Error upgrading oder UART | AttributeError: 'bytes' object has no attribute 'encode'"
Hello, I'm trying to upgrade my DPS to test the new CC/CV Merged screen.
I can connect to the DSP over UART and enable/disable power so the connection is working. But if I try to Upgrade the Firmware I get the following error:

It's probably something simple I'm missing but I can't figure out what it is

[2019-02-20 17:52] Xenoamor commented on #134
Are you using Python 3 out of interest?

[2019-02-20 19:37] gh7531 commented on #134
Yes I did use Python3. It seems to work now using Python2.7.
Thanks a lot.

[2019-02-20 19:47] Xenoamor commented on #134
Oh. Can you leave this open?
Ideally we'd like to have it be python 3 compatible

[2019-02-20 23:02] kanflo commented on #134
Yes, it really should work with Python 3.

[2019-02-20 23:05] kanflo commented on #133
Good idea. On a similar topic I have been thinking we could use some kind of `./configure` like step that would set the font, font colors and desired functions. With this config a `git pull && make` would build the latest and greatest according to one's configuration.

[2019-02-20 23:07] kanflo commented on #132
Yes, we really need CI. I have been thinking of setting up a CI in my workshop with DPS hardware, STLink, every single version of gcc, ... and test building, flashing, upgrading and operations.

[2019-02-20 23:08] kanflo commented on #131
I have been thinking if the readme should be turned into a github wiki. Pros/cons anyone?

[2019-02-20 23:13] kanflo commented on #50
I am somewhat unsure to be honest. I have a '5015 but have not reflashed it yet as I am waiting for someone to tell me when the fan should be turned on so this behaviour can be mimicked by OpenDPS. I have no setup for pushing lots of power out of this thing.

[2019-02-21 03:24] gnbl commented on #50
@kanflo You could inject "temperature" voltages on PA6 to determine the threshold, or, if PWM is used on PB11, maybe other parameters. The register dumps I posted might show if PWM is configured (so would an oscilloscope).

[2019-02-22 00:17] kanflo opened #135 "Add baud rate limit to documentation"
As the USB to serial adapters sold with the DPS.es only work at 9600 as pointed out in #60 we should add that to the documentation.

[2019-02-22 11:14] bhuism commented on #135
Same for the bluetooth adapter, I've read somewhere the optocouplers are too slow

[2019-02-22 14:33] vogelfreiheit commented on #20
Cool you guys kept at this! @gnbl are you on IRC somewhere? I can help you out with this probably the next few days.

The useful outcome is to be able to either run the original fw after a reflash or even boot it from external NAND/EEPROM (with our own custom bootloader).

[2019-02-22 23:36] gnbl commented on #20
@v Sorry, I'm not pursuing this further.

[2019-02-25 22:12] opeRaptor commented on #11
Are you working on a port @gnbl ? I am interested in this version as it is buck-boost.

[2019-02-25 22:50] gnbl commented on #11
@opeRaptor Not since my last post and not again any time soon, so go ahead.

[2019-02-26 12:05] Xenoamor commented on #131
I'm not actually familiar with either. It might take me a while to get round to this as I'm trying my hand at designing my own power supply

[2019-03-04 09:04] sq9fk commented on #50
@kanflo
Hello Johan,
Yesterday I've finnished assembly 1/2 DPS5015 units that I've bought last year. Flashed them with opendps firmware. Few things need to be mentioned:

PCB Rev. 2.2 (not 2.3)

1. LCD Freeze Issue.
After flashing from master branch this issue exist. Proposed solution in:
https://github.com/kanflo/opendps/commit/a88926ce2f2887f360f9f097da02162fa58bc4d8
Fixed this issue completely.

[2019-03-04 22:15] kanflo commented on #50
Hi @sq9fk.

1. Thanks, I'll make sure it gets merged.

2. That's odd. Any idea why this would fail @Xenoamor?

3. Does that apply for all ADC channels?

4. Yes, the ESP Open RTOS based '8266 proxy lacks this functionality for now meaning it's quite cumbersome to change SSID.

5. CC mode is implemented but (probably) untested on the '5015.

Thanks!

[2019-03-04 22:21] sq9fk commented on #50
@kanflo
I've just updated my previous post with calibration offsets, Maybe you can merge it into master for DPS5015 ? According to first posts in this thread I have the same problem with 4.74V after flashing with master. After cal: 5.00 (+0.03 peak because of ADC noise)

3. Yes. It's oscilates 2 or 3 ADC points. Simple filter will do the job in my opinnion but need to test it.
V_ADC and A_ADC.

5.

[2019-03-09 09:31] guerillaengineer opened #136 "Cannot flash over system gpio on Raspberry Pi 3?"
I am using OpenOCD on a raspberry pi 3 and after surmounting a few issues to get to this point it now reads:
[code]
I am at a loss and am not so bright as to be able to circumvent this error.

[2019-03-10 22:48] kanflo commented on #134
Closed by #137

[2019-03-10 22:49] #134 closed

[2019-03-14 07:59] sq9fk opened #138 "DPS5015 Current Value only 9.999"
Hello,
I noticed little bug:
When try to adjust Current to 15.000 A, opendps shows 9.999 then 0.000 ending at 5.000 -> which was 15A according to real measure from external meter.

Can we make a bugfix for this?
IMO 10mA scale would be enough for this supply.

Piotr

[2019-03-14 10:16] sq9fk commented on #50
About the noise:
There is nice project on github called Cheali-Charger (alternative firmware for LiPo etc. chargers).
They implement PID and Noise filtering.
https://github.com/stawel/cheali-charger/blob/master/src/hardware/atmega32/generic/50W/AnalogInputsADC.cpp

Firmware is now stable, it's for AVR family but we could implement similar algorithm.
What do you think @kanflo

I've also add new iss

[2019-03-15 22:51] #136 closed

[2019-03-17 15:01] kanflo commented on #138
Hmmm, I recall that one being fixed some time ago. Seems to be an eager little bug ;)

[2019-03-17 15:07] kanflo commented on #50
Thanks for the link. We could start with a simple averaging algorithm and see how far that takes us.

[2019-03-26 03:51] m-kozlowski opened #139 "DPS5005 unusable over wifi"
Transmission to device seems to work as effects are visible on display (ping, set values, enabling output...), but receiving ends either with

or

I'm using "communication version" of dsp, powering esp from uart header.
Running opendsp 4f227ecafdd6ecc8b1889dd4688cee899e5f082c

I have tried every combination of:
- esp on development board (Lolin D1 mini)
- bare esp (with appropriate pull-ups/dns)
-

[2019-03-26 05:20] m-kozlowski commented on #139
I'm suspecting that it's caused by UDP's lack of transmission control.
Receiving replies for commands issued a while back gave me a hint.
I've changed esp8266-proxy to [a esp-link](https://github.com/jeelabs/esp-link/), changed few lines in dpsctl.py to make it work over tcp and everything started to work flawlessly.

I would be happy to investigate the exact cause of the problem, but I'm out of i

[2019-03-31 19:24] kanflo commented on #139
That's odd, I have never had any issues with UDP. Someday retransmission should be implemented to take care of this. I chose UDP because it resembled the connectionless serial interface (IIRC)

[2019-03-31 21:54] m-kozlowski commented on #139
I think it's more about assuring correct datagram order than retransmission, but I'm still to lazy to disassemble my box, reprogram esp with esp8266-proxy firmware and capture network traffic;)
IMHO TCP would be a better pick for this application as we need reliable transfers more than high bandwidth and plenty of simultaneous clients. Implementing any form of data integrity for UDP transfers woul

[2019-04-08 03:46] jetacpp opened #140 "Possible race condition ?"
Hello,
I was going through the code and wondered the followings:

1. the event ring buffer is not protected by mutex. Even though the risk of data corruption is low due to slow button presses and uart.
2. In the main loop event handler, it implied that it should not receive event_none (dbg_printf("Weird, should not receive 'none events'\n");). Why is so ? as I searched and the only sources to feed

[2019-04-15 17:23] kanflo commented on #140
Hi @jetacpp and thanks for your comments!

1. I implemented the ring buffer as a circular buffer for one writer and one reader. ISRs write and user code reads without affecting each others unless the buffer is close to being filled which should not happen:

https://github.com/kanflo/opendps/blob/4f227ecafdd6ecc8b1889dd4688cee899e5f082c/opendps/ringbuf.c#L57

2. At one point I received 'None' event

[2019-04-15 17:25] kanflo commented on #139
Even if you are the only person in the world seeing this failure it sure means there is something lurking here that needs fixing ;) I will update the issue title to reflect a change from UDP to TCP.

[2019-04-15 22:40] m-kozlowski commented on #139
[code]

[code]

[code]

this one is even more interesting
[code]

[2019-04-15 22:48] m-kozlowski commented on #139
next:
[code]
so it looks like replies longer than 60 are truncated and somehow messing future communications.
After ESP reset, commands with short replies (ping, version) are working just fine.

[2019-04-20 23:04] #140 closed

[2019-04-25 08:04] nmaas87 commented on #132
@kanflo Drone.io could be a good choice here, they do free plans for OpenSource projects and integrate with Github https://cloud.drone.io/ :)

[2019-04-27 23:57] iondulgheru opened #142 "dpsctl.py working only for some commands"
Hi guys
I need your help to solve on issue with my new "OpenDPS"5005.
I can do only the following using dpsctl.py:
- ping
- version
- firmware upgrade
So the UART communication is working, but something is faulty here.

[code]
I have built the firmware using actually the docker image and build_binaries.sh script.
Any ideas?

[2019-04-28 00:34] m-kozlowski commented on #142
Wrong syntax?
try `-q` instead of `--status` and `-o on` instead of `--power on`

[2019-04-28 01:23] iondulgheru commented on #142
Sorry, my bad, I followed this older blog post:
https://johan.kanflo.com/upgrading-your-dps5005/
Now that I am looking into the dpsctl.py documentation I see that the parameters have changed.
Thank you @m-kozlowski !

[2019-04-28 01:23] #142 closed

[2019-04-28 22:43] iondulgheru opened #143 "esp8266-proxy build: use option -std=c99 or -std=gnu99 to compile your code"
Hi guys

I am trying to build esp8266-proxy, but I get the following error:
[code]

I am using Fedora 29

[code]
Any idea on what might be the issue an how could I solve it?

[2019-04-28 23:50] m-kozlowski commented on #143
Probably the least intrusive way:
`echo "CPPFLAGS = -std=gnu99" >> esp8266-proxy/esp-open-rtos/local.mk`

[2019-04-29 13:20] iondulgheru commented on #143
Not elegant but efficient :)
Thank you @m-kozlowski !

[2019-04-29 13:20] #143 closed

[2019-04-29 21:37] kanflo commented on #142
@iondulgheru that would be my bad :) All things still valid from the old blog posts should go into a getup wiki, when time permits.

[2019-04-30 00:18] iondulgheru commented on #139
I also receive" Error: timeout talking to device <IP>" or "Error: protocol error (-2)".
But this happens only on ESP-01 and ESP-02.
Also in this case ping, version, or setting the voltage works.

On NodeMCU, with the same build, it seems that everything works.
I also wanted to try on ESP-07 but my ESP-07 is not connecting to WIFI, although the flash is successful.

[2019-04-30 07:57] looselyrigorous commented on #129
I had this exact issue, before I realized I had to go back to the settings screen for the calibration to work correctly. I think it would be sufficient to simply change to the settings screen again after typing the second input voltage value.

[2019-05-14 20:00] X-Ryl669 opened #144 "Not working with DPS3005 and OpenOCD 0.10.0 (20190423)"
I've a DPS3005, macOS, and did the following:
  1. Everything in the upgrade guide (except using latest OpenOCD vs 2016 version you refered to).
  2. Modified the opendps/opendps/Makefile model line to read: `MODEL := DPS3005`
  3. Built everything without issue (I have ARM GCC toolchain based on 7.2.1 from 20170904.
  4. Tried to launch openocd but it failed because the script where outdated with

[2019-05-14 20:14] X-Ryl669 commented on #144
I've read the code and it seems that the app needs to be flashed at 0x8001400, and it worked.

[2019-05-15 18:45] kanflo commented on #144
Did it boot to the application once? Hmmm... What happens if you start the DPS and halt it using OpenOCD? What is the value of PC?

[2019-05-15 18:54] X-Ryl669 commented on #144
Got some progress. Via gdb, I see that it's crashing in `ili9163c_fill_screen` in the for loop (it resets and since it's one of the first function that's called to erase the screen... I got a boot loop).
I've tried to reduce the size of the window (via gdb, I set the `i` variable to 3000 to let it exit the loop, and I got a screen displaying something but it crashed later on).

[2019-05-15 18:58] X-Ryl669 commented on #144
When the screen is displayed, I do see the wifi icon that's blinking. The main issue I have is I'm not sure if `openocd program` write more than the `.text` section to flash.
I think if I succeed debugging openocd I might get progress, but openocd is behaving weirdly for me.
When I issue this:
[code]
I would have expected to find 64 pages of 1024 bytes (that's what ST-LINK is showing on Windows).

[2019-05-15 19:29] kanflo commented on #144
That is indeed strange. The device ID matches mine and the STM32F100 has, as you say, 64 1kb pages. Could you try to alter the start address of the app (stm32f100_app.ld) to 0x08002000 (remember to change this address in stm32f100_boot.ld too) to see if that helps. You should probably remove all flash access in past.c.

[2019-05-15 20:22] X-Ryl669 commented on #144
No, it does not change anything finally. I even tried to install the same openocd version as yours and it does not work either (even using your openocd/scripts).
If I skip the `spi_dma_trancieve` it goes further in the boot and "blink"
[code]

[2019-05-17 13:57] X-Ryl669 commented on #144
Ok, I've made some progress here:
1. I've set up breakpoints in all handler in the vector table (successively). None of them are being called in the "reboot" loop, so I've deduced that it's not rebooting.
2. I've reset the ili9163c_fill_screen method to the genuine one, and added a `dbg_printf("i: %u\n", i)` after the for loop, and the message goes through. Yet, it's never going further.
3. I've d

[2019-05-17 14:22] X-Ryl669 commented on #144
My mistake. The stack is not currupted, it's just that `fill_screen` is also called in `tft_init` so having `delay_ms` as return point is actually correct. It's the latter `tft_clear` that does not return.

[2019-05-17 15:27] X-Ryl669 commented on #144
I'm a bit struck here. Is there a watchdog on this system ?

[2019-05-22 18:17] X-Ryl669 commented on #144
Ok, I've spent a lot of time on this and finally found the solution.
I've added this function in the bootloader:
[code]
And figured out that the reset was caused by `INDEPENDENT_WATCHDOG_RESET`.
I've checked your code and found out there was no place where you were dealing with this IWDG.
Then, I was thinking about why nobody had the same issue as I had, and remembered the flash protection issue,

[2019-05-22 18:17] #144 closed

[2019-05-22 20:03] kanflo opened #145 "Use IWDG for safety"
One user had issues withe the watchdog being enabled by an ST-LINK flash unlock (#144 ) made me realise the IWDG should be used so the system never locks up missing a tripped over current protection.

[2019-05-23 16:16] X-Ryl669 commented on #145
The (HW) watchdog was enabled when I received the device (so did all the flash pages' protection). ST-LINK was the tool used to see the protection bit and remove them, it did not enable them. Latest OpenOCD failed at doing so.

[2019-06-03 10:31] cortmen opened #147 "Support for DPS3003"
Hello,
is there a chance that the DPS 3003 will be supported?

Unfortunately I have already flashed my new device 3003
with https://github.com/kanflo/opendps/issues/144
"flash dpsboot.bin at address 0x8000000 and opendps.bin at address 0x8001400"

The menu interface is ok, but the values ​​do not fit at all.
before flashed all values ​​are correct.

6V like output 3.7v
12V like output 7.2V

I have

[2019-06-10 19:29] kanflo commented on #147
Have you tried the dpsctl.py calibration routine? I would be surprised if '3003 and '3005 differed that much hardware wise.

[2019-06-10 20:24] cortmen commented on #147
Thanks for the replay,

I tried to connect via UART.
dpsctl.py -d /dev/ttyUSB0 --ping
….answer is pong

but !
dpsctl.py --status
no informations return on the screen to see. only blank line

I have three cables on  tx / rx / gnd  to USB - UART
Power on the DPS with 12v, Display Ready
I'm a bit surprised, why are 3.3v on tx pin?
Is that correct?
Horst

[2019-06-10 20:27] kanflo commented on #147
Try running dpsctl.py in verbose mode making it dump the UART traffic to see what's going on. As for 3.3V on TX, that's  [fully normal](https://en.wikipedia.org/wiki/Asynchronous_serial_communication) [wikipedia].

[2019-06-10 21:26] cortmen commented on #147
hi,

#./dpsctl.py -q  -v -V -d /dev/ttyUSB0 --status
Func       : cv (on)
  current  : 100
  voltage  : 5000
V_in       : 15.94 V
V_out      : 5.02 V
I_out      : 0.006 A
BootDPS GIT Hash: a0ff
OpenDPS GIT Hash: a0ff

Tomorrow I will be the calibration Routine run again.
I will report the result.
Horst

[2019-06-10 21:27] kanflo commented on #147
That looks quite spot on :)

[2019-06-11 19:30] cortmen commented on #147
when i excute the ./dpsctl.py -d /dev/ttyUSB0 -C
For calibration you will need:
        A multimeter
        A known load capable of handling the required power
        A thick wire for shorting the output of the DPS
        2 stable input voltages
Please ensure nothing is connected to the output of the DPS before starting calibration!

Would you like to proceed? (y/n): y

1  Remove everything fro

[2019-06-14 12:05] fisherman-cp commented on #147
Moin,
just flashed BootDPS GIT Hash: a0ff, OpenDPS GIT Hash: a0ff-dirty to a DPS3003 device.
With 17V supply voltage setting to 5.0V gives me 3.059V Vout, set to 10V -> 6.14V Vout and 15V ->9.24V. 100mA on multimeter -> 150mA at device.
Calibration with 33ohm as load results in
 Calibration Report:
        A_ADC_K = 1.75100004673
        A_ADC_C = -1.10099995136
        A_DAC_K = 0.652999997139

[2019-06-14 16:54] Xenoamor commented on #147
This is almost certainly caused by #130 :(

[2019-06-14 19:48] cortmen commented on #147
@fisherman-cp

thank you for your reply.
This information will help me well.
./dpsctl.py -v -d /dev/ttyUSB0 -c V_DAC_K=0.122940224958 V_ADC_K=8.128088730797 A_ADC_K=1.161831588384

My DPS3003 runs within the values, measured with the multimeter.
Horst

[2019-06-14 19:50] cortmen commented on #147
Calibration Report:
        A_ADC_K = 1.16183161736
        A_ADC_C = -1.10099995136
        A_DAC_K = 0.652999997139
        A_DAC_C = 262.5
        V_ADC_K = 8.12808895111
        V_ADC_C = -111.900001526
        V_DAC_K = 0.122940227389
        V_DAC_C = 2.28570008278
        VIN_ADC_K = 16.7460002899
        VIN_ADC_C = 64.1119995117
        VIN_ADC = 946
        VOUT_ADC = 422
        IOUT_AD

[2019-06-16 19:57] kanflo commented on #147
@fisherman-cp  and @cortmen Do your '3003s run in an acceptable manner with these coefficients?

[2019-06-16 20:02] kanflo commented on #119
Head up, I will implement this mode in the coming weeks. I have a TFT screen with a broken 14V power adapter and will use a DPS as a power source. Obviously I do not want any other modes than a compile time constant voltage and a compile time current limit on that particular DPS.

Anyone with a suggestion of a name for this mode?

[2019-06-16 20:07] kanflo commented on #88
Closed by #148

[2019-06-16 20:07] #88 closed

[2019-06-17 17:48] fisherman-cp commented on #147
Hi Johan,
did a bit more accurate calibration and with following settings the device works in an acceptable manner, tested with different loads from 3.3 to 33 ohms.
Calibration Report:
        A_ADC_K = 1.16183161736
        A_ADC_C = -1.10099995136
        A_DAC_K = 0.95069116354
        A_DAC_C = 262.5
        V_ADC_K = 8.12808895111
        V_ADC_C = -111.900001526
        V_DAC_K = 0.123375669

[2019-06-17 18:44] cortmen commented on #147
For me, all values are not accurate enough even after the x calibration. Especially the power measurement fluctuates too much.
I already got a new device 3003, I will get along with the original FW.

And please point out in the documentary that an imperfect recalibration must take place.

horst

[2019-06-26 16:02] Schnilz opened #149 "DPS5015 Overcurrent Protection Error"
I just flashed my DPS5015 with MODEL=DPS5015  (I did the suggested dump beforehand [dump.zip](https://github.com/kanflo/opendps/files/3330957/dump.zip) ) . Now it turns on and shows the UI and i can set current / voltage, but as soon as i press the ON button the display flashes i have nothing connected to the terminals....

[2019-06-26 16:15] m-kozlowski commented on #149
It might me silly, but have you tried to increase current limit before turning output on?
AFAIK it's set to 0 after flash.

[2019-06-26 16:22] Schnilz commented on #149
now i feel dumb :D
had it set to 20mA as i expected something like that... increasing  it to 1A makes it power on.
It shows there are 3 to 16 mA flowing with nothing connected... is that a calibration error ?
if so how do i do that ?

[2019-06-26 16:47] m-kozlowski commented on #149
use dpsctl.py calibration routine and follow instructions

[2019-06-26 17:25] Schnilz commented on #149
thanks!

[2019-06-26 17:25] #149 closed

[2019-07-06 22:06] pierow2k commented on #131
Moving the documentation into the Wiki would certainly make it easier for others to contribute and improve the documentation.

With the instructions being _(primarily)_ located on the [blog](https://johan.kanflo.com/upgrading-your-dps5005/)(s), it takes a fair amount of jumping back and forth between the GitHub repo and the blog while reading through the nearly 200 [comments](https://johan.kanflo.

[2019-07-13 06:34] kanflo commented on #131
You are absolutely right @pierow2k, I'll add this to my todo list for the summer.

[2019-08-22 01:51] danricho opened #150 "dpsctl library"
Hi,

I'm currently waiting to receive my DPS5005 and will be installing OpenDPS and using an ESP for wireless control.

Is there a plan to create a library which can be imported into existing python projects which can control the DPS via the dpsctl rather than by using cmd line calls?

Thanks for the awesome project!

[2019-08-22 19:36] kanflo commented on #150
Thanks! A separate Python module is on the horizon and will hopefully happen this fall when I will start using a DPS for some home automation.

[2019-08-25 23:30] mpictor commented on #20
FWIW, [someone on Medium](https://medium.com/@LargeCardinal/how-to-bypass-debug-disabling-and-crp-on-stm32f103-7116e7abb546) thinks the stm32f103 _is_ vulnerable...

[2019-08-26 10:40] gnbl commented on #20
@mpictor No, it's just about debug disable, and a reference to the same project regarding code protection.

[2019-09-04 12:12] JackNewman12 commented on #130
Potentially [kneed](https://github.com/arvkevi/kneed) could be used to find the knee/elbow for each calibration plot, not sure how robust it is. I guess it also depends if you want to add another library just for this feature.

Additionally,I found that my DPS5005 would display 15mA open circuit (after calibration). Connecting a multimeter I found that it was always reporting 15mA above the real p

[2019-09-04 19:36] Xenoamor commented on #130
I've never seen kneed before, it's likely a lot more robust then whatever I've implemented. If we don't want people to have to `pip install` it we can always just include the .py file directly (with credit of course)

Good thinking on the open circuit test. I think we can likely achieve this by just making sure that the `V_DAC` value is set to 0 though so we wouldn't have to remove the load.
https

[2019-09-10 07:36] danielkucera opened #152 "Measure output power and energy"
Would it be possible to display output power in Watts and energy in Watthours since startup? I'd like to log battery charging and I'd like to have it quite precise.

[2019-09-10 09:39] Xenoamor commented on #152
It could be programmed to do so but the issue with measuring watt hours is that you have to integrate the readings. This means you need high frequency sampling but also very accurate measurements to ensure you get reliable results.

Unfortunately the DPS hardware has poor current measurement capabilities so unless you're dealing with fairly high currents it likely wouldn't yield any useful informa

[2019-09-10 11:25] danielkucera commented on #152
There could be a disclaimer about the accuracy.

My main usecase is charging bateries where the current doesnt change so dramatically. And I wouldn't even need to display it, serial json output is fine.

Althogh I can programatically mutiply voltage and current readings from serial output, I think I can gain some precision it it was done by the firware itself.

[2019-09-10 13:53] danielkucera opened #153 "Voltage is off"
Today I've upgraded my DPS5005 to OpenDPS but when I set voltage, the output voltage is off. See following table:

Set,Displayed,Measured
27,25.7,25.59
20,19.04,18.94
15,14.28,14.22
10,9.53,9.48
5,4.78,4.74
3.3,3.17,3.13

I'm attaching original firmware data sets:

[3.7V-off.txt](https://github.com/kanflo/opendps/files/3595976/3.7V-off.txt)
[3.7V-on.txt](https://github.com/kanflo/opendps/files/359

[2019-09-10 22:17] JackNewman12 commented on #153
You will need to run the calibration script.

The main commands you will need are:
[code]

Pull request #120 was useful to me

If you are using the USB adapter that came with the DPS you will need to change the baudrate in your build #135 (9600 works for me)

There is a ticket to add this calibration routine information to the readme #131  (This issue also caught me by surprise when I got my DPS a

[2019-09-10 23:23] kanflo commented on #152
It's a nice idea for battery changing as you say.

[2019-09-10 23:24] kanflo commented on #153
Thanks @JackNewman12

[2019-09-11 08:12] danielkucera opened #155 "esp8266 proxy Arduino variant"
Hi,

what would you say about rewriting esp proxy to Arduino framework in PlatformIO?
I see 3 advantages:
1. easier to build (using PlatformIO)
2. no need to store wifi credentials in binary thanks to: https://github.com/tzapu/WiFiManager
3. easy automated builds: https://docs.platformio.org/en/latest/ci/travis.html

I can try to do this if you help me understand the current code.

[2019-09-11 08:50] JackNewman12 commented on #155
I agree with all of your points. I enjoy working with PlatformIO and it would make life significantly easier for anyone wanting to work on the esp code.
It also means we could remove the esp-open-rtos submodule since platformIO will handle all the dependencies for us.

[2019-09-11 15:59] danielkucera commented on #153
I'm having trouble running it: ```danman@silverhorse:/storage/Projects/opendps/dpsctl$ ./dpsctl.py -d /dev/ttyUSB0 -q
Func       : calibration (off)
  A_DAC    : 2
  V_DAC    : 0
V_in       : 12.21 V
V_out      : 0.00 V
I_out      : 0.000 A
danman@silverhorse:/storage/Projects/opendps/dpsctl$ ./dpsctl.py -d /dev/ttyUSB0 -q
Func       : calibration (off)
  A_DAC    : 2
  V_DAC    : 0
V_in       : 1

[2019-09-11 20:56] danielkucera commented on #153
I switched to 9600bps, I can pass more steps but still I cannot finish the procedure. Please see attached log.

[calibration.txt](https://github.com/kanflo/opendps/files/3602696/calibration.txt)

[2019-09-11 22:00] kanflo commented on #155
I am all for a complete rewrite. It should be rather straight forward. Currently the proxy uses UDP and that needs to be changed for TCP. The proxy does just that, forwards traffic between a socket and a UART.

[2019-09-11 22:06] kanflo commented on #153
Could you rerun with ```-v``` so we can see the traffic on the UART?

[2019-09-11 23:01] danielkucera commented on #155
Could something like this +- fit? https://github.com/danielkucera/esp8266-arduino-ebus/blob/master/src/main.cpp

[2019-09-12 05:48] danielkucera commented on #153
Here it is but I have a bad feeling that something went wrong with the device. The output voltage is 0V no matter what I set :(
[calib2.txt](https://github.com/kanflo/opendps/files/3603893/calib2.txt)

[2019-09-12 06:14] danielkucera commented on #153
danman@silverhorse:/storage/Projects/opendps/dpsctl$ ./dpsctl.py -d /dev/ttyUSB0 -q -b 9600 -v
Communicating with /dev/ttyUSB0
TX  5 bytes [7e 04 40 84 7f]
RX 48 bytes [7e 84 01 7d 5e 9d 00 00 00 00 01 ff ff ff ff 00 63 76 00 76 6f 6c 74 61 67 65 00 35 30 30 30 00 63 75 72 72 65 6e 74 00 32 30 30 30 00 38 da 7f]

Func       : cv (on)
  current  : 2000
  voltage  : 5000
V_in       : 32.41 V
V_out

[2019-09-12 06:16] JackNewman12 commented on #153
Curious what the calibration report `-cr` will show. I expect it might be corrupt. Could you dump that for me?

Can you do a `--calibration_reset` and see if that brings you back to your original behaviour?

Someone else might like to comment. But I believe you should be able to manually set the voltage output via `dpsctl.py -c VOUT_DAC=XXX` to prove the device is still working.

Enabling the debu

[2019-09-12 06:19] danielkucera commented on #153
[code]

[2019-09-12 06:22] danielkucera commented on #153
Phew... I was starting to be a little bit worried, but now it is in original state:
[code]

[2019-09-12 06:24] JackNewman12 commented on #153
Interesting how
[code]
got written to the device. Those calibration plots might actually be helpful in this situation. I guess the maths went funky or the communication got corrupt.

[2019-09-12 06:31] danielkucera commented on #153
It's strange that during all calibrations the 10% and 90% output never changed. It was always the same value (either 0mV or 4750mV)

[2019-09-12 10:08] Xenoamor opened #158 "Force Voltage calibration line of best fits to pass through (0, 0)"
Very low current and voltage calibration seems a little off.

I propose we assume that the voltage plots pass through the (0, 0) point and force the line of best fit to also do the same. As you can see the below line of best fit misses this
![image](https://user-images.githubusercontent.com/7109951/64774990-261acf00-d54d-11e9-9d70-dfd02ed75512.png)
This should help the low end performance (assumin

[2019-09-13 07:25] danielkucera commented on #158
My proposal is to measure user defined number of voltages/currents with minimum of two (0V and 90% of input voltage). Then do linear regression to find the coefficients.

At the end measure zeroes again and ask if user desires to adjust the zero offset.

It might also be better to use ampermeter to measure current (or at least to provide the option) because resistance of a resistor might change du

[2019-09-13 07:37] JackNewman12 commented on #158
If you only do two points with one at 0V. Then you are guaranteed to get a good zero offset. No need to remeasure it.

Good point about the resistor. (I think we should make a seperate ticket for current measurements?)

While we are doing the voltage calibration we should also measure the 0 current point, since the user does not have a load connected at this stage.

[2019-09-13 07:42] danielkucera commented on #158
Yes but if you do more than two then no.

[2019-09-13 09:18] Xenoamor commented on #158
Once this is implemented the 0 current measurement as discussed in #130 should also be resolved. This is because the current calibration assumes that setting the output voltage to 0V does indeed disable the output (which it would after this change)

[2019-09-15 14:15] danielkucera commented on #155
Preliminary version at https://github.com/danielkucera/esp8266-opendps
Also depends on #160

[2019-09-15 15:35] danielkucera commented on #155
@kanflo , do you insist on using uHej? I would prefer mDNS, like this:
[code]

[2019-09-16 04:57] JackNewman12 commented on #45
Since travis will now automatically add the binaries to any commits that are tagged. Should we close this ticket?

Also we can now add a [![Build Status](https://travis-ci.org/kanflo/opendps.svg?branch=master)](https://travis-ci.org/kanflo/opendps) to the README

[2019-09-16 07:00] zoobab commented on #45
A quick comment: you can frankly move most of the build.sh logic inside the Dockerfile:

https://github.com/kanflo/opendps/blob/master/docker/build.sh

And use an entrypoint to copy the binary from the container to the host.

[2019-09-19 20:37] kanflo commented on #155
mDNS is fine, it would be a wasted effort to port uHej to Arduino ;)

[2019-09-19 21:12] kanflo commented on #45
Closing due to #154
Tags are built as well as the latest and greatest on master. Kudos to @danielkucera.

[2019-09-19 21:12] #45 closed

[2019-09-21 21:48] Xenoamor commented on #158
Okay I was wrong about this resolving the open circuit current reading. It's a step in the right direction but we need to force the following graph to pass through the y=0 reading:
![image](https://user-images.githubusercontent.com/7109951/65379557-f2187a00-dcc1-11e9-937f-8e0cd6d4e02d.png)

[2019-09-25 08:49] petermonna commented on #68
@Xenoamor  can you explain more about the constant current output load with LM321 circuit? why we need it? thanks

[2019-09-25 09:35] Xenoamor commented on #68
A lot of power supplies oscillate (are unstable) if their load is less then a certain amount. This constant current sink provides this minimum load at all times and helps to ensure stability.

I'm more of a software guy so I don't fully understand the control loop and phase margin reasons for this but Dave on the EEVBlog discusses this [in his power supply series here](https://youtu.be/6Otr1I0OR18

[2019-09-25 11:30] petermonna commented on #68
@Xenoamor  thanks so much for your help, very Very detailed and easy to understand, please help me for the last question , can you help me about the function of mosfet AF4407 conected to Vin?  i send picture about it in dsp3003 schematic
![9-25-2019 6-09-35 PM](https://user-images.githubusercontent.com/50374521/65597056-73be1f80-dfc2-11e9-82f1-458327d50bdb.jpg)

[2019-09-25 12:16] Xenoamor commented on #68
I think the schematic might be a bit wrong there. My best guess is it is a current inrush limiter but it's missing a capacitor

[2019-09-25 12:50] petermonna commented on #68
@Xenoamor  oh yes thanks so much, you help me a lot, i will check again missing capacitor in pcb of dps5005

[2019-10-01 18:36] Xenoamor opened #173 "uint64_t is returned non-atomically without a guard lock"
The tick function is not interrupt safe due to the use of a uint64_t. We should either implement guarding or reduce this to an atomic uint32_t

https://github.com/kanflo/opendps/blob/c1a8ab69d97ee3a329a2283ec88c49150537978c/opendps/tick.c#L30
https://github.com/kanflo/opendps/blob/c1a8ab69d97ee3a329a2283ec88c49150537978c/opendps/tick.c#L67

[2019-10-01 19:06] Xenoamor opened #174 "Dynamic memory usage?"
Any ideas how the following code compiles?
https://github.com/kanflo/opendps/blob/c1a8ab69d97ee3a329a2283ec88c49150537978c/opendps/protocol_handler.c#L348-L351

I've never seen `uint8_t buffer[variable];` compile before

[2019-10-01 22:51] Xenoamor commented on #174
I've scrubbed this in #176 as I really didn't like the look of it

[2019-10-02 14:41] Xenoamor opened #177 "Used fixed point arithmetic"
We should look into using fixed point arithmetic as it will be significantly faster and reduce our required ROM space

[2019-10-02 16:06] Xenoamor commented on #177
Even if you remove all runtime floating point usage it still pulls in all the floating point functions. Pretty annoying. It would be very nice to be able to have floating point constants

[2019-10-02 18:03] kanflo commented on #158
Just curious, why does the I(A_ADC) line need to pass (0, 0)? I guess in a perfect world it should but your measurements are consistent with [my original measurements](https://docs.google.com/spreadsheets/d/1AhGsU_gvZjqZyr2ZYrnkz6BeUqMquzh9UNYoTqy_Zp4/edit#gid=144499878):

![Screenshot 2019-10-02 at 20 01 45](https://user-images.githubusercontent.com/931076/66069396-94045600-e54f-11e9-8a74-55d5430

[2019-10-02 18:08] Xenoamor commented on #158
The issue currently is that the line doesn't pass through the y = 0 reading which means that even when there is no current flowing the device often still reports some. It's a tradeoff though, the top end will become less accurate

[2019-10-02 18:09] #158 closed

[2019-10-02 18:15] kanflo commented on #158
That could be written off as "this is a cheap power supply, don't expect National Instruments accuracy" ;)

[2019-10-02 18:18] Xenoamor commented on #158
Yeah that's definitely my understanding. I'd rather it be more accurate across the entire range personally

[2019-10-02 18:18] kanflo commented on #158
I totally agree.

[2019-10-02 18:20] Xenoamor commented on #158
Should probably reverse the commit. It's also more likely to work across every device without it

[2019-10-02 18:23] kanflo commented on #158
Done, with the added benefit of increasing my git knowhow.

[2019-10-02 19:19] kanflo opened #178 "Call UUI deactivation callbacks when changing function via tty"
The following will cause "litter pixels" not visible when changing using the physical controls. Most likely the deactivation callbacks are not called.

[code]

[2019-10-02 20:36] kanflo opened #179 "Bring back the "make graphics" target"
It should be possible to type `make graphics` and have all the PNGs in `gfx/png` converted.

[2019-10-02 20:47] kanflo commented on #173
Good catch. I would prefer guarding, anyone for uint32_t?

[2019-10-02 20:49] kanflo commented on #174
I guess this is one of the places where a static allocation would be suitable.

[2019-10-02 20:51] kanflo commented on #177
That's odd, the linker should throw all that out if not used...

[2019-10-02 22:25] Xenoamor commented on #174
As far as I'm aware this isn't valid C at all. It still baffles me how it compiles

[2019-10-02 23:05] m-kozlowski commented on #174
[I think it is](https://gcc.gnu.org/onlinedocs/gcc/Variable-Length.html)
Well, sort of, because gcc is the only compiller I've used that has it implemented;)

[2019-10-02 23:17] Xenoamor commented on #178
I can't find this in the code at a first glance. The call tree seems to be:
[code]

uui_set_screen should be calling the last screens deactivation function

[2019-10-02 23:22] Xenoamor commented on #174
I had no idea this was a thing. Seems pretty dangerous to me if you're trying to avoid the heap

[2019-10-03 21:10] ElectricCookie opened #183 "openDPS Cases ♥️"
Hey this is not an issue but I wanted to share the case I made for my small openDPS build. Maybe others can join and and help build a small gallery of cool custom power supplies
![IMG_20191003_230422](https://user-images.githubusercontent.com/18628516/66164288-a0151400-e632-11e9-9218-db754378825a.jpg)
![IMG_20191003_230352](https://user-images.githubusercontent.com/18628516/66164334-bd49e280-e632-

[2019-10-03 22:37] Xenoamor commented on #183
Damn I like that. I've got the "official" ones at the moment
![image](https://user-images.githubusercontent.com/7109951/66168980-c0df6880-e636-11e9-8c15-4ccea329b928.png)

[2019-10-08 19:40] #173 closed

[2019-10-08 20:44] kanflo commented on #183
Cool case! I have a 3D printed minimalistic case that should reach Thingiverse when I get around to adds some finishing touches.

<img width="679" alt="Screenshot 2019-10-08 at 22 43 46" src="https://user-images.githubusercontent.com/931076/66431855-1e9bf800-ea1d-11e9-8fc1-cff8d232a779.png">

[2019-10-09 00:24] Tig3rch3n opened #186 "Support for DPS5020/DPS8005"
Hey ho,
Is the Firmware tested on a DPS 5020 and/or a 8005?

I'm quite sure the 5015 and 5020 shouldn't be so different internally.
About the 8005 no clue O_o

[2019-10-09 11:01] MartinDejmal commented on #183
I have a compact one. https://cad.onshape.com/documents/a387dafa34ddb2b0b1734add/w/661b6e36556eeb673311f490/e/dcde09774cb5d0aa43c715d4

Here are some real pictures in author's blog (in czech): http://joysfera.blogspot.com/2017/04/novy-digitalni-laboratorni-zdroj.html

[2019-10-10 19:43] Xenoamor commented on #186
It's untested I'm afraid. Chances are good that they operate the same or very similar but we can't say for sure

[2019-10-10 19:57] kanflo commented on #152
This is being worked on in #166 and will hopefully soon reach master.

[2019-10-16 16:05] polihedron commented on #183
Mine is a bit bigger, case is from mini ITX PC, I have 3D printed black frames for display, and adapters for micro-switches buttons. Case, fans, wires and replaced heating sinks are from local store, rest is from china.
![IMG_20191016_152313](https://user-images.githubusercontent.com/46649005/66932162-76e38300-f037-11e9-943a-3a1a9f6a0d88.jpg)
![IMG_20191016_152924](https://user-images.githubuserco

[2019-10-16 16:48] polihedron commented on #50
My DPS5015 rev.2.3 always freeze LCD, when I touch few times multimeter probe to the ground connector. Please merge a88926c in master branch, I lost many hours to figure out, how to fix that..

[2019-10-16 18:01] Xenoamor commented on #50
I'll just tag @kanflo for visibility

[2019-10-16 18:25] kanflo commented on #50
@polihedron Is it the "unfreeze LCD" removal, the "TFT_CSN_PORT" addition or both that is needed? A PR is always welcome and will move faster to master ;)

[2019-10-17 08:13] polihedron commented on #50
@kanflo, "TFT_CSN_PORT" fixes strange DPS5015 LCD freeze when I touch positive multimeter probe to GND DPS5015 connector, LCD goes almost always white.  At first I suspected bad grounding ILI9163C issue, LCD connector loose, or LCD wires too long in noisy enviroment.
Regarding to "TEMPORARY HACK TO UNFREEZE LCD" I added those two lines, because of strange color change, after some time it changes f

[2019-10-17 20:12] kanflo commented on #50
It seems they decided to use a GPIO pin on the STM32 as slave select for the SPI driven display. Previously they simply grounded the signal on the display so I can see the display going haywire when the SS pin was left floating ;)

[2019-10-18 07:18] hseibel12 opened #191 "Cannot upload firmware"
I've been trying to upload a new firmware with latest version. I think the function has get broken. When starting upload in verbose mode the software starts initialisation block and then transfers the first block successfully. The second block also starts uploading, but then breaks. You cannot get any command working without resetting the device.

Here a brief copy of the communication:

Communica

[2019-10-18 10:02] Xenoamor commented on #191
Can you try adding `-b 115200` as a flag to dpsctl when you upload the firmware?